<%- include('./layouts/head.ejs', { pageTitle: 'Edit product' }) %>


    <body>
        <div class="screen-overlay"></div>

        <%- include ('./partials/admin.aside.ejs') %>

         


                <main class="main-wrap">
                    
                    <%- include ('./partials/admin.home.header.ejs') %>

                    <section class="content-main">
                        <div class="row">
                            <div class="col-9">
                                <div class="content-header">
                                    <h2 class="content-title">Edit Product</h2>

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Basic</h4>
                                    </div>

                                    <% if (typeof(errorMessage) !=="undefined" ) { %>
                                        <script>
                                            document.addEventListener('DOMContentLoaded', function () {
                                                Swal.fire({
                                                    icon: 'error',
                                                    title: 'Error!',
                                                    text: '<%= errorMessage %>',
                                                    showConfirmButton: true,
                                                    confirmButtonText: 'OK',
                                                    customClass: {
                                                        confirmButton: 'btn btn-danger', // Add custom class for styling
                                                    },
                                                });
                                            });
                                        </script>
                                        <% } %>

                                            <% if (typeof(successMessage) !=="undefined" ) { %>
                                                <script>
                                                    document.addEventListener('DOMContentLoaded', function () {
                                                        Swal.fire({
                                                            icon: 'success',
                                                            title: 'Success!',
                                                            text: '<%= successMessage %>',
                                                            showConfirmButton: true,
                                                            confirmButtonText: 'OK',
                                                            customClass: {
                                                                confirmButton: 'btn btn-success', // Add custom class for styling
                                                            },
                                                        });
                                                    });
                                                </script>
                                                <% } %>


                                                    <div class="card-body">
                                                        <% if(typeof(product)!=="undefined" ) {%>

                                                            <form action="/product/update" method="post"
                                                                enctype="multipart/form-data" id="updateForm">
                                                                <div class="mb-4">
                                                                    <label for="product_name"
                                                                        class="form-label"></label>
                                                                    <input type="text" placeholder="<%=product.name%>"
                                                                        class="form-control" id="product_name" readonly
                                                                        value="<%=product.name%>">
                                                                </div>
                                                                <div class="mb-4">
                                                                    <label class="form-label">Full description</label>
                                                                    <textarea placeholder="Type here"
                                                                        class="form-control" rows="4" id="description"
                                                                        name="description"><%=product.description%></textarea>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        <div class="mb-4">
                                                                            <label class="form-label">Price</label>
                                                                            <div class="row gx-2">
                                                                                <input placeholder="&#8377;" type="text"
                                                                                    class="form-control" id="price"
                                                                                    name="price"
                                                                                    value="<%=product.price%>">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="mb-4">
                                                                            <label class="form-label">Current
                                                                                Stock</label>
                                                                            <input placeholder="" type="text"
                                                                                class="form-control" id="stock"
                                                                                name="stock" value="<%=product.stock%>">
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="col-lg-4">
                                        <label class="form-label">Currency</label>
                                        <select class="form-select">
                                            <option> USD </option>
                                            <option> EUR </option>
                                            <option> RUBL </option>
                                        </select>
                                    </div> -->
                                                                </div>
                                                                <div class="mb-4">
                                                                    <label for="band_material" class="form-label">Band
                                                                        Material</label>
                                                                    <input type="text" placeholder="Type here"
                                                                        class="form-control" id="band_material" readonly
                                                                        value="<%=product.bandMaterial%>">
                                                                </div>

                                                                <div class="mb-4">
                                                                    <label for="dial_color" class="form-label">Dial
                                                                        Color</label>
                                                                    <input type="text" placeholder="Type here"
                                                                        class="form-control" id="dial_color" readonly
                                                                        value="<%=product.dialColor%>">
                                                                </div>
                                                                <!-- <label class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label"> Make a template </span>
                                </label> -->


                                                                <%}%>
                                                    </div>
                                </div> <!-- card end// -->
                                <!-- <div class="card mb-4">
                        <div class="card-header">
                            <h4>Shipping</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Width</label>
                                            <input type="text" placeholder="inch" class="form-control" id="product_name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Height</label>
                                            <input type="text" placeholder="inch" class="form-control" id="product_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Weight</label>
                                    <input type="text" placeholder="gam" class="form-control" id="product_name">
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Shipping fees</label>
                                    <input type="text" placeholder="$" class="form-control" id="product_name">
                                </div>
                            </form>
                        </div>
                    </div>  -->
                            </div>
                            <div class="col-lg-5">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Media</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-upload">
                                            <!-- <img src="/admin.assets/imgs/theme/upload.svg" alt=""> -->

                                            <ul>
                                                <% for(let i=0; i<product.images.length; i++) {%>

                                                    <li id="<%=product.images[i].url%>"> <img
                                                            src="<%=product.images[i].url%>" alt=""> <button
                                                            type="button" style="float: right"
                                                            class="mt-15 mr-35  btn-brand"
                                                            onclick="removePhoto('<%=product.images[i].url%>')">Remove</button>
                                                    </li>
                                                    <%}%>

                                            </ul>
                                            <input type="hidden" name="productId" value="<%=product._id%>">
                                            <input class="form-control" type="file" multiple id="images" name="images">
                                        </div>
                                    </div>
                                </div> <!-- card end// -->
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Category </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row gx-2">
                                            <div class="col-sm-12 mb-3">
                                                <label class="form-label">Category</label>
                                                <select class="form-select" disabled>
                                                    <option selected>
                                                        <%=product.category.name%>
                                                    </option>

                                                </select>
                                            </div>

                                            <div class="col-sm-12 mb-3">
                                                <% if(product.isBlocked===false) {%>

                                                    <label class="form-label">Status</label>
                                                    <select class="form-select" name="status">
                                                        <option selected>Active</option>
                                                        <option>Blocked</option>

                                                    </select>
                                                    <%} else {%>
                                                        <label class="form-label">Status</label>
                                                        <select class="form-select " name="status">
                                                            <option selected>Blocked</option>
                                                            <option>Active</option>
                                                            <% } %>
                                                        </select>

                                            </div>
                                            <div class="col-sm-12 mb-3">
                                                <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                                                <button class="btn btn-md rounded font-sm hover-up ml-100"
                                                    onclick="updateProduct()">Update</button>
                                            </div>


                                            <!-- <div class="mb-4">
                                    <label for="product_name" class="form-label">Tags</label>
                                    <input type="text" class="form-control">
                                </div> -->


                                        </div> <!-- row.// -->


                                    </div>
                                </div> <!-- card end// -->
                            </div>

                            </form>
                        </div>
                    </section> <!-- content-main end// -->
                    
                                    <%- include ('./partials/admin.footer.ejs') %>


                </main>

                <script>

                    let removedPhotos = [];
                    const removePhoto = (imageUrl) => {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Remove Image?',
                            text: 'This action will remove the image from the view. To permanently delete, press "Update" after making all desired changes.',
                            showCancelButton: true,
                            confirmButtonText: 'Remove',
                            cancelButtonText: 'Cancel',
                            confirmButtonColor: '#d33',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                removedPhotos.push(imageUrl);
                                document.getElementById(imageUrl).remove()

                            }
                        });
                    }

                    const updateProduct = () => {

                        // const description = document.getElementById("description").textContent
                        // const price = document.getElementById("price").textContent
                        // const stock = document.getElementById("stock").textContent
                        // const images = document.getElementById("stock").textContent

                        // fetch("/product/update", 

                        removedPhotos.forEach((removePhotoUrl) => {

                            const input = document.createElement("input");
                            input.type = "hidden",
                                input.name = "removedImages",
                                input.value = removePhotoUrl,
                                document.getElementById("updateForm").appendChild(input)
                        })

                        document.getElementById("updateForm").submit();

                    }




                </script>

                <script src="/admin.assets/js/vendors/jquery-3.6.0.min.js"></script>
                <script src="/admin.assets/js/vendors/bootstrap.bundle.min.js"></script>
                <script src="/admin.assets/js/vendors/select2.min.js"></script>
                <script src="/admin.assets/js/vendors/perfect-scrollbar.js"></script>
                <script src="/admin.assets/js/vendors/jquery.fullscreen.min.js"></script>
                <!-- Main Script -->
                <script src="/admin.assets/js/main.js" type="text/javascript"></script>

                <!--Sweet alert cdn-->
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

    </body>

    </html>