<%- include('./layouts/head.ejs', { pageTitle: 'Offers' }) %>

    <body>
        <div class="screen-overlay"></div>

        <%- include ('./partials/admin.aside.ejs') %>


            <main class="main-wrap">

                <%- include ('./partials/admin.home.header.ejs') %>


                    <% if (typeof(errorMessage) !=="undefined" ) { %>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: '<%= errorMessage %>',
                                    showConfirmButton: true,
                                    confirmButtonText: 'OK',
                                    customClass: {
                                        confirmButton: 'btn btn-danger', // Add custom class for styling
                                    },
                                });
                            });
                        </script>
                        <% } %>

                            <% if (typeof(successMessage) !=="undefined" ) { %>
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Success!',
                                            text: '<%= successMessage %>',
                                            showConfirmButton: true,
                                            confirmButtonText: 'OK',
                                            customClass: {
                                                confirmButton: 'btn btn-success', // Add custom class for styling
                                            },
                                        });
                                    });
                                </script>
                                <% } %>























                                    <section class="content-main">
                                        <div class="content-header">
                                            <div>
                                                <h2 class="content-title card-title">Offers </h2>
                                                <!-- <p>Add, edit or unlist a category</p> -->
                                            </div>
                                            <!-- <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div> -->
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <form id="couponForm" action="/offer/add" , method="post">

                                                            <div class="mb-4">
                                                                <label class="form-label">Product / Category</label>
                                                                <select class="form-select" id="product_category"
                                                                    name="productCategory" onchange="updateOptions()">
                                                                    <option selected disabled>Select Type</option>
                                                                    <option value="category">Category</option>
                                                                    <option value="product">Product</option>
                                                                </select>
                                                                <span class="text-danger"
                                                                    id="categoryProductError"></span>
                                                            </div>

                                                            <div class="mb-4" id="categorySection"
                                                                style="display: none;">
                                                                <label class=" form-label">Select</label>
                                                                <input type="text" class="form-control"
                                                                    id="categorySearch" oninput="filterCategories()"
                                                                    placeholder="Search categories">
                                                                <select class="form-select" id="category"
                                                                    onchange="validateItem()" name="category">
                                                                    <option selected disabled>Select</option>


                                                                    <%categories.forEach((category)=> { %>
                                                                        <option value="<%=category._id%>">
                                                                            <%=category.name%>
                                                                        </option>
                                                                        <% }) %>

                                                                </select>
                                                                <span class="text-danger" id="categoryError"></span>
                                                            </div>

                                                            <div class="mb-4" id="productsSection"
                                                                style="display: none;">
                                                                <label class="form-label">Select</label>
                                                                <input type="text" class="form-control"
                                                                    id="productSearch" oninput="filterProducts()"
                                                                    placeholder="Search products">
                                                                <select class="form-select" id="product"
                                                                    onchange="validateItem()" name="product">
                                                                    <option selected disabled>Select</option>

                                                                    <%products.forEach((product)=> { %>
                                                                        <option value="<%=product._id %>">
                                                                            <%=product.name%>
                                                                        </option>
                                                                        <% }) %>

                                                                </select>
                                                                <span class="text-danger" id="productError"></span>
                                                            </div>


                                                            <div class="mb-4">
                                                                <label class="form-label">Select</label>
                                                                <select class="form-select" name="discountPercent"
                                                                    onchange="validateDiscount()"
                                                                    id="discount_percentage">

                                                                    <option selected disabled>Offer percentage</option>
                                                                    <option>5 %</option>
                                                                    <option>10 %</option>
                                                                    <option>15 %</option>
                                                                    <option>20 %</option>
                                                                    <option>25 %</option>


                                                                </select>
                                                                <span class="text-danger" id="discountError"></span>
                                                            </div>



                                                            <div class="mb-4">
                                                                <label for="max_discount_amount" class="form-label">Max
                                                                    Discount
                                                                    Amount</label>
                                                                <input type="text" placeholder="Type here"
                                                                    class="form-control" name="maxDiscountAmount"
                                                                    id="max_discount_amount"
                                                                    oninput="validateMaxDiscount()" />
                                                                <span class="text-danger" id="maxDiscountError"></span>
                                                            </div>



                                                            <div class="d-grid">
                                                                <button class="btn btn-primary" id="submitBtn"
                                                                    onclick="validateForm()">Create Offer</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center">
                                                                            <div class="form-check">
                                                                                <input class="form-check-input"
                                                                                    type="checkbox" value="" />
                                                                            </div>
                                                                        </th>
                                                                        <th>Product / Category Name</th>
                                                                        <th>Discount %</th>

                                                                        <th>Max.Discount</th>
                                                                        <th>Delete</th>



                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    <% if(offers.length> 0) { %>

                                                                        <% offers.forEach((offer)=> { %>



                                                                            <tr>
                                                                                <td class="text-center">
                                                                                    <div class="form-check">
                                                                                        <input class="form-check-input"
                                                                                            type="checkbox" value="" />
                                                                                    </div>
                                                                                </td>

                                                                                <%if(offer.product.length> 0) {%>
                                                                                    <td style="font-weight: bolder;">
                                                                                        <%=offer.product[0].name %>
                                                                                    </td>

                                                                                    <% } else{%>
                                                                                        <td
                                                                                            style="font-weight: bolder;">
                                                                                            <%=offer.category[0].name%>
                                                                                        </td>

                                                                                        <% }%>


                                                                                            <td><b>
                                                                                                    <%=offer.discountPercent
                                                                                                        %> %
                                                                                                </b></td>

                                                                                            <td><b>
                                                                                                    ₹
                                                                                                    <%=offer.maxDiscountAmount
                                                                                                        %>

                                                                                                </b></td>

                                                                                            <td>
                                                                                                <a
                                                                                                    onclick="deleteOffer('<%=offer._id %>')">Delete</a>
                                                                                            </td>



                                                                            </tr>

                                                                            <%}) %>
                                                                                <% }%>



                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div> <!-- .col// -->
                                                </div> <!-- .row // -->
                                            </div> <!-- card body .// -->
                                        </div> <!-- card .// -->
                                    </section> <!-- content-main end// -->
                                    <%- include ('./partials/admin.footer.ejs') %>

            </main>

            <script>




                // When user types the category, updating the option to select the particular category
                function filterProducts() {

                    let input = document.getElementById("productSearch");
                    let filter = input.value.toUpperCase();
                    let select = document.getElementById("product");
                    let options = select.getElementsByTagName("option");

                    // Remove the existing selected item
                    select.selectedIndex = null;

                    for (i = 0; i < options.length; i++) {
                        option = options[i];
                        if (option.text.toUpperCase().indexOf(filter) > -1) {
                            option.style.display = "";
                        } else {
                            option.style.display = "none";
                        }
                    }

                    // Automatically select the first visible option
                    for (i = 0; i < options.length; i++) {
                        if (options[i].style.display !== "none") {
                            select.selectedIndex = i;
                            break;
                        }
                    }

                }


                // Filtering products
                function filterCategories() {

                    let input = document.getElementById("categorySearch");
                    let filter = input.value.toUpperCase();
                    let select = document.getElementById("category");
                    let options = select.getElementsByTagName("option");

                    // Remove the existing selected item
                    select.selectedIndex = null;

                    for (i = 0; i < options.length; i++) {
                        option = options[i];
                        if (option.text.toUpperCase().indexOf(filter) > -1) {
                            option.style.display = "";
                        } else {
                            option.style.display = "none";
                        }
                    }

                    // Automatically select the first visible option
                    for (i = 0; i < options.length; i++) {
                        if (options[i].style.display !== "none") {
                            select.selectedIndex = i;
                            break;
                        }
                    }

                }




                // For deleting a particular offer
                function deleteOffer(id) {

                    let data = {
                        offerId: id
                    };

                    data = JSON.stringify(data);

                    fetch("/offer/delete", {
                        method: "DELETE",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: data,
                    })
                        .then((res) => {
                            if (res.ok) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success!',
                                    text: 'Offer deleted successfully',
                                    showConfirmButton: true,
                                    confirmButtonText: 'OK',
                                    customClass: {
                                        confirmButton: 'btn btn-success', // Add custom class for styling
                                    },
                                }).then(() => {

                                    window.location.reload()
                                })
                            }
                        })



                }



                function updateOptions() {

                    // Removing the category and product search
                    let productInput = document.getElementById("categorySearch");
                    let categoryInput = document.getElementById("productSearch");
                    productInput.value = ""
                    categoryInput.value = ""


                    const selectedItem = document.getElementById("product_category").value;

                    const categorySection = document.getElementById("categorySection");
                    const productsSection = document.getElementById("productsSection");

                    if (selectedItem === "category") {
                        // If it is category, hide products and show the category section
                        productsSection.style.display = "none";
                        categorySection.style.display = "";
                    }

                    if (selectedItem === "product") {
                        // If it is product, hide category and show the products section
                        categorySection.style.display = "none";
                        productsSection.style.display = "";
                    }
                }




                function validateForm() {

                    validateItem()
                    validateDiscount();
                    validateMaxDiscount();

                    if (
                        document.getElementById("categoryError").innerText
                        &&
                        document.getElementById("productError").innerText
                        ||
                        document.getElementById("discountError").innerText
                        ||
                        document.getElementById("maxDiscountError").innerText


                    ) {
                        event.preventDefault();
                    }
                }



                function validateItem() {
                    // Get the values and error elements
                    var product = document.getElementById("product").value;
                    var category = document.getElementById("category").value;

                    var productError = document.getElementById("productError");
                    var categoryError = document.getElementById("categoryError")



                    // Validate product
                    if (product.trim() === "" || product.trim() === "Select") {
                        productError.innerText = "Product is required.";
                    } else {
                        productError.innerText = "";
                    }


                    // Validate category
                    if (category.trim() === "" || category.trim() === "Select") {
                        categoryError.innerText = "category is required.";
                    } else {
                        categoryError.innerText = "";
                    }

                    // Check for errors in category or product
                    if (categoryError.innerText && productError.innerText) {
                        document.getElementById("categoryProductError").innerText = "Category or Product is required";
                    } else {
                        document.getElementById("categoryProductError").innerText = "";
                    }
                }




                function validateDiscount() {

                    // Removing the category and product search
                    let productInput = document.getElementById("categorySearch");
                    let categoryInput = document.getElementById("productSearch");
                    productInput.value = ""
                    categoryInput.value = ""


                    var discount = document.getElementById("discount_percentage").value;
                    var errorSpan = document.getElementById("discountError");

                    if (discount === "Offer percentage") {
                        errorSpan.innerText = "Please select a valid discount percentage.";
                        return false;
                    } else {
                        errorSpan.innerText = "";
                        return true;
                    }
                }


                function validateMaxDiscount() {

                    // Removing the category and product search
                    let productInput = document.getElementById("categorySearch");
                    let categoryInput = document.getElementById("productSearch");
                    productInput.value = ""
                    categoryInput.value = ""



                    var maxDiscountAmount = document.getElementById("max_discount_amount").value;
                    var errorSpan = document.getElementById("maxDiscountError");

                    if (maxDiscountAmount.trim() === "") {
                        errorSpan.innerText = "Max discount amount is required.";
                        return false;
                    } else if (isNaN(maxDiscountAmount) || !/^\d+(\.\d{1,2})?$/.test(maxDiscountAmount)) {
                        errorSpan.innerHTML = "Amount must be a valid number.";
                    } else if (parseFloat(maxDiscountAmount) < 0) {
                        errorSpan.innerHTML = "Amount cannot be negative.";
                    } else {
                        errorSpan.innerText = "";
                        return true;
                    }

                    return false; // Return false in case none of the conditions match
                }




            </script>

            <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
            <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
            <script src="assets/js/vendors/select2.min.js"></script>
            <script src="assets/js/vendors/perfect-scrollbar.js"></script>
            <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
            <!-- Main Script -->
            <script src="assets/js/main.js" type="text/javascript"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    </body>

    </html>