<%- include('./layouts/head.ejs', { pageTitle: 'Add product' }) %>


    <body>
        <div class="screen-overlay"></div>

        <%- include ('./partials/admin.aside.ejs') %>


            <main class="main-wrap">

                <%- include ('./partials/admin.home.header.ejs') %>


                    <section class="content-main">

                        <% if (typeof(errorMessage) !=="undefined" ) { %>
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error!',
                                        text: '<%= errorMessage %>',
                                        showConfirmButton: true,
                                        confirmButtonText: 'OK',
                                        customClass: {
                                            confirmButton: 'btn btn-danger', // Add custom class for styling
                                        },
                                    });
                                });
                            </script>
                            <% } %>

                                <% if (typeof(successMessage) !=="undefined" ) { %>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Success!',
                                                text: '<%= successMessage %>',
                                                showConfirmButton: true,
                                                confirmButtonText: 'OK',
                                                customClass: {
                                                    confirmButton: 'btn btn-success', // Add custom class for styling
                                                },
                                            });
                                        });
                                    </script>
                                    <% } %>



                                        <div class="row">
                                            <div class="col-9">
                                                <div class="content-header">
                                                    <h2 class="content-title">Add New Product</h2>

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="card mb-4">
                                                    <div class="card-header">
                                                        <h4>Basic</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <form action="" method="post" enctype="multipart/form-data"
                                                            onsubmit="return validateForm()">
                                                            <div class="mb-4">
                                                                <label for="product_name" class="form-label">Product
                                                                    name</label>
                                                                <input type="text" placeholder="Type here"
                                                                    class="form-control" id="name" name="name"
                                                                    autocomplete="on" id="name"
                                                                    oninput="validateFieldName()">
                                                                <div id="nameError" class="text-danger"></div>
                                                            </div>
                                                            <div class="mb-4">
                                                                <label class="form-label">Full description</label>
                                                                <textarea placeholder="Type here" class="form-control"
                                                                    rows="4" name="description"
                                                                    oninput="validateProductDescription()"
                                                                    id="description"></textarea>
                                                                <div id="descriptionError" class="text-danger"></div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <div class="mb-4">
                                                                        <label class="form-label">Price</label>
                                                                        <div class="row gx-2">
                                                                            <input placeholder="&#8377;" type="text"
                                                                                class="form-control" name="price"
                                                                                id="price" oninput="validatePrice()">
                                                                        </div>
                                                                        <div id="priceError" class="text-danger"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <div class="mb-4">
                                                                        <label class="form-label">Current Stock</label>
                                                                        <input placeholder="" type="text"
                                                                            class="form-control" name="stock"
                                                                            oninput="validateStock()" id="stock">
                                                                    </div>
                                                                    <div id="stockError" class="text-danger"></div>
                                                                </div>
                                                                <!-- <div class="col-lg-4">
                                        <label class="form-label">Currency</label>
                                        <select class="form-select">
                                            <option> USD </option>
                                            <option> EUR </option>
                                            <option> RUBL </option>
                                        </select>
                                    </div> -->
                                                            </div>
                                                            <!-- <div class="mb-4">
                                            <label class="form-label">Band Material</label>
                                            <input type="text" placeholder="" class="form-control" id="product_name"
                                                name="bandMaterial">
                                        </div> -->

                                                            <label class="mb-4"></label>
                                                            <select class="form-select" name="bandMaterial"
                                                                id="bandMaterial">
                                                                <option selected disabled value=""> Band material
                                                                </option>
                                                                <option value="Titanium"> Titanium </option>
                                                                <option value="Metal"> Metal </option>
                                                                <option value="Leather"> Leather </option>

                                                            </select>
                                                            <div id="bandMaterialError" class="text-danger"></div>

                                                            <label class="mb-4"></label>
                                                            <select class="form-select" name="dialColor" id="dialColor">
                                                                <option selected disabled value=""> Dial color </option>

                                                                <option value="Black"> Black </option>
                                                                <option value="Blue"> Blue </option>
                                                                <option value="Brown"> Brown </option>

                                                            </select>
                                                            <div id="dialColorError" class="text-danger"></div>
                                                            <!-- <div class="mb-4">
                                            <label class="form-label">Dial Color</label>
                                            <input type="text" placeholder="" class="form-control" id="product_name"
                                                name="dialColor">
                                        </div> -->
                                                            <!-- <label class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label"> Make a template </span>
                                </label> -->

                                                    </div>
                                                </div> <!-- card end// -->
                                                <!-- <div class="card mb-4">
                        <div class="card-header">
                            <h4>Shipping</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Width</label>
                                            <input type="text" placeholder="inch" class="form-control" id="product_name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Height</label>
                                            <input type="text" placeholder="inch" class="form-control" id="product_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Weight</label>
                                    <input type="text" placeholder="gam" class="form-control" id="product_name">
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Shipping fees</label>
                                    <input type="text" placeholder="$" class="form-control" id="product_name">
                                </div>
                            </form>
                        </div>
                    </div>  -->
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="card mb-4">
                                                    <div class="card-header">
                                                        <h4>Media</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="input-upload">
                                                            <img src="/admin.assets/imgs/theme/upload.svg" alt="">
                                                            <input class="form-control" type="file" multiple
                                                                name="images" id="images" accept="image/*"
                                                                onchange="validateImageUpload()">
                                                            <div id="imgContainer"></div>

                                                            <div id="imagesError" class="text-danger"></div>
                                                        </div>
                                                    </div>
                                                </div> <!-- card end// -->
                                                <div class="card mb-4">
                                                    <div class="card-header">
                                                        <!-- <h4>Category</h4> -->
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row gx-2">


                                                            <div class="col-sm-12 mb-3">
                                                                <label class="form-label"></label>

                                                                <select class="form-select" name="categoryPath" id="category">
                                                                    <option value="" selected disabled>Category</option>
                                                                    <% if(typeof(categoryPathArr)!=="undefined" ) %>
                                                                        <% for(let i=0; i<categoryPathArr.length; i++) {
                                                                            %>
                                                                            <option
                                                                                value="<%= categoryPathArr[i].category._id %>">
                                                                                <%= categoryPathArr[i].path %>
                                                                            </option>
                                                                            <%}%>
                                                                </select>

                                                                <div id="categoryError" class="text-danger"></div>
                                                            </div>
                                                            <!-- <div class="col-sm-6 mb-3">
                                            <label class="form-label">Sub-category</label>
                                            <select class="form-select" >
                                                <option> Nissan </option>
                                                <option> Honda </option>
                                                <option> Mercedes </option>
                                                <option> Chevrolet </option>
                                            </select>
                                        </div> -->
                                                            <!-- <div class="mb-4">
                                    <label for="product_name" class="form-label">Tags</label>
                                    <input type="text" class="form-control">
                                </div> -->

                                                        </div> <!-- row.// -->
                                                        <div>

                                                            <button type="submit"
                                                                class="btn btn-md rounded font-sm hover-up ml-130 mt-20">Save</button>
                                                        </div>
                                                    </div>
                                                    </form>
                                                </div> <!-- card end// -->
                                            </div>
                                        </div>
                    </section> <!-- content-main end// -->

                    <!--Footer-->
                    <%- include ('./partials/admin.footer.ejs') %>

            </main>

            <script>
                function validateFieldName() {
                    const element = document.getElementById("name");
                    const nameErrorElement = document.getElementById("nameError");

                    if (element.value.length < 3 || element.value.length > 100 || !/^[A-Z]/.test(element.value)) {
                        nameErrorElement.innerHTML = "Name should be 3 to 100 characters and start with an uppercase letter";
                    } else {
                        nameErrorElement.innerHTML = "";
                    }
                }

                function validateProductDescription() {
                    const descriptionElement = document.getElementById("description");
                    const descriptionErrorElement = document.getElementById("descriptionError");

                    const descriptionValue = descriptionElement.value.trim();

                    if (descriptionValue.length < 10 || descriptionValue.length > 1000) {
                        descriptionErrorElement.innerHTML = "Product description should be between 10 and 1000 characters";
                    } else {
                        descriptionErrorElement.innerHTML = "";
                    }
                }
                function validatePrice() {
                    const priceElement = document.getElementById("price");
                    const priceErrorElement = document.getElementById("priceError");

                    const priceValue = priceElement.value.trim();

                    if (priceValue === "") {
                        priceErrorElement.innerHTML = "Price cannot be empty";
                    } else if (isNaN(priceValue) || !/^\d+(\.\d{1,2})?$/.test(priceValue)) {
                        priceErrorElement.innerHTML = "Price must be a valid number";
                    } else if (priceValue < 0) {
                        priceErrorElement.innerHTML = "Price cannot be negative";
                    } else {
                        priceErrorElement.innerHTML = "";
                    }
                }

                function validateStock() {
                    const stockElement = document.getElementById("stock");
                    const stockErrorElement = document.getElementById("stockError");

                    const stockValue = stockElement.value.trim();

                    if (stockValue === "") {
                        stockErrorElement.innerHTML = "Stock cannot be empty";
                    } else if (isNaN(stockValue) || !/^\d+(\.\d{1,2})?$/.test(stockValue)) {
                        stockErrorElement.innerHTML = "Stock must be a valid number";
                    } else if (parseFloat(stockValue) < 0) {
                        stockErrorElement.innerHTML = "Stock cannot be negative";
                    } else {
                        stockErrorElement.innerHTML = "";
                    }

                }

                function validateBandMaterial() {
                    const bandMaterialInput = document.getElementById("bandMaterial")
                    const bandMaterialError = document.getElementById("bandMaterialError")


                    let value = bandMaterialInput.value;
                    if (!value) {
                        bandMaterialError.innerHTML = "Select one Band Material"
                    }
                    else {
                        bandMaterialError.innerHTML = ""
                    }

                }
                function validateDialColor() {
                    const dialColorInput = document.getElementById("dialColor")
                    const dialColorError = document.getElementById("dialColorError")

                    let value = dialColorInput.value;
                    if (!value) {
                       
                        dialColorError.innerHTML = "Select one Dial Color"
                    }
                    else {
                        dialColorError.innerHTML = ""
                    }

                }



                function validateImageUpload() {

                    if (event.target.id === "images") {

                        const imgContainer = document.getElementById("imgContainer");

                        // Clear previous images
                        imgContainer.innerHTML = "";

                        for (const file of event.target.files) {

                            const liElement = document.createElement("li")

                            // Create an image element
                            const imgElement = document.createElement("img");

                            // Set the object URL for the file
                            imgElement.src = URL.createObjectURL(file);

                            // Append the image element and remove button to the container
                            imgContainer.appendChild(liElement);
                            liElement.appendChild(imgElement);
                            // liElement.appendChild(removeButton);
                        }

                    }
                    // Loop through all selected files

                    const imagesElement = document.getElementById("images");
                    const imagesErrorElement = document.getElementById("imagesError");

                    const numFiles = imagesElement.files?.length;
                  
                    if (numFiles < 3 || numFiles > 5) {
                        imagesErrorElement.innerHTML = "Please select 3 to 5 images";
                    } else {
                        imagesErrorElement.innerHTML = "";
                    }


                }

                function validateCategory() {
                        const categoryInput = document.getElementById("category")
                        const categoryError = document.getElementById("categoryError")


                        let value = categoryInput.value;
                        console.log(value);
                        console.log(categoryInput);
                        console.log(categoryError);
                        if (!value) {
                            categoryError.innerHTML = "Select category of your product"
                        }
                        else {
                            categoryError.innerHTML = ""
                        }

                    }

                function validateForm() {

                    // Call individual validation functions
                    validateFieldName();    
                    validateProductDescription();
                    validatePrice();
                    validateStock();  
                    validateBandMaterial();
                    validateDialColor(); 
                    validateImageUpload();
                    validateCategory()

                    if (
                        nameError.innerHTML !== "" ||
                        descriptionErrorpriceError.innerHTML !== "" ||
                        priceError.innerHTML !== "" ||
                        stockError.innerHTML !== "" ||
                        bandMaterialError.innerHTML !== "" ||
                        dialColorError.innerHTML !== "" ||
                        imagesError.innerHTML !== "" ||
                        categoryError.innerHTML !== ""
                    ) {

                        return false;

                    }

                 
                    // All fields are valid, continue with form submission
                    return true;
                }
 


            </script>

            <script src="/admin.assets/js/vendors/jquery-3.6.0.min.js"></script>
            <script src="/admin.assets/js/vendors/bootstrap.bundle.min.js"></script>
            <script src="/admin.assets/js/vendors/select2.min.js"></script>
            <script src="/admin.assets/js/vendors/perfect-scrollbar.js"></script>
            <script src="/admin.assets/js/vendors/jquery.fullscreen.min.js"></script>
            <!-- Main Script -->
            <script src="/admin.assets/js/main.js" type="text/javascript"></script>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

    </body>

    </html>