<%- include('./layouts/head.ejs', { pageTitle: 'Admin home' }) %>


    <body>
        <div class="screen-overlay"></div>


        <%- include ('./partials/admin.aside.ejs') %>


            <main class="main-wrap">


                <%- include ('./partials/admin.home.header.ejs') %>

                    <section class="content-main">
                        <div class="content-header">
                            <div>
                                <h2 class="content-title card-title">Order detail</h2>
                                <p>Details for Order ID: 3453012</p>
                            </div>
                        </div>
                        <%if(typeof(order) !=="undefined" ) {%>
                        <%if(order.length > 0 ) {%>
                        <div class="card">
                            <header class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                        <span>
                                            <i class="material-icons md-calendar_today"></i> <b>
                                                <%=order[0].createdAt %>
                                            </b>
                                        </span> <br>
                                        <small class="text-muted">Order ID: 3453012</small>
                                    </div>






                                </div>
                            </header> <!-- card-header end// -->
                            <div class="card-body">
                                <div class="row mb-50 mt-20 ml-150 order-info-wrap">
                                    <div class="col-md-6">
                                        <article class="icontext align-items-start">
                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                <i class="text-primary material-icons md-person"></i>
                                            </span>
                                            <div class="text">
                                                <h6 class="mb-1">Customer</h6>
                                                <p class="mb-1">
                                                    <%=order[0].user[0].name %> <br>
                                                        <%=order[0].user[0].email %> <br>
                                                            <%=order[0].user[0].mobileNumber %>
                                                </p>
                                                <a href="#">View profile</a>
                                            </div>
                                        </article>
                                    </div> <!-- col// -->
                                    <div class="col-md-6 ">
                                        <article class="icontext align-items-start">
                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                <i class="text-primary material-icons md-local_shipping"></i>
                                            </span>
                                            <div class="text">
                                                <h6 class="mb-1">Delivery address</h6>
                                                <p class="mb-1">
                                                    <%=order[0].address[0].houseName %> <br>
                                                        <%=order[0].address[0].area %> <br>
                                                            <%=order[0].address[0].town %> <br>
                                                </p>
                                                <a href="#">Download info</a>
                                            </div>
                                        </article>
                                    </div> <!-- col// -->


                                </div> <!-- row // -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="40%">Product</th>
                                                        <th width="10%">Unit Price</th>
                                                        <th width="10%">Quantity</th>
                                                        <th width="20%">Status</th>
                                                        <th width="10%">Total</th>
                                                        <th width="20%" class="text-end">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% let totalAmount=0; %>
                                                        <%if(typeof(order) !=="undefined" ) {%>
                                                            <%order.forEach((order)=> { %>

                                                                <%totalAmount +=order.subTotal %>

                                                                    <tr>
                                                                        <td>
                                                                            <a class="itemside" href="#">
                                                                                <div class="left">
                                                                                    <img src="<%=order.product[0].images[0].url %>"
                                                                                        width="40" height="40"
                                                                                        class="img-xs" alt="Item">
                                                                                </div>

                                                                                <%let
                                                                                    productName=(order.product[0].name).substring(0,8)
                                                                                    %>


                                                                                    <div class="info">
                                                                                        <%=order.product[0].name%>
                                                                                    </div>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            ₹ <%=order.productDetails.price %>
                                                                        </td>
                                                                        <td>
                                                                            <%=order.productDetails.quantity %>
                                                                        </td>
                                                                        <td>
                                                                            <%=order.productDetails.deliveryStatus %>
                                                                        </td>
                                                                        <td>
                                                                            ₹ <%=order.subTotal %>
                                                                        </td>
                                                                        <td>
                                                                            <a
                                                                                href="/order/admin-view-one?orderId=<%=order._id %>&productId=<%=order.product[0]._id%>">View
                                                                                order</a>
                                                                        </td>
                                                                    </tr>

                                                                    <% }) %>

                                                                        <% }%>
                                                                            <tr>
                                                                                <td colspan="4">
                                                                                    <article class="float-end">
                                                                                        <dl class="dlist">
                                                                                            <dt>Subtotal:</dt>
                                                                                            <dd>
                                                                                                ₹ <%=totalAmount %>
                                                                                            </dd>
                                                                                        </dl>
                                                                                        <dl class="dlist">
                                                                                            <dt>Shipping cost:</dt>
                                                                                            <dd></dd>
                                                                                        </dl>
                                                                                        <dl class="dlist">
                                                                                            <dt>Grand total:</dt>
                                                                                            <dd> <b class="h5">
                                                                                                    ₹ <%=totalAmount %>
                                                                                                </b> </dd>
                                                                                        </dl>
                                                                                        <dl class="dlist">
                                                                                            <dt class="text-muted">
                                                                                                Status:</dt>
                                                                                            <%if(order[0].paymentMethod==="Cash on delivery"
                                                                                                ) {%>

                                                                                                <dd>
                                                                                                    <span
                                                                                                        class="badge rounded-pill alert-success text-info">
                                                                                                        <%=order[0].paymentMethod
                                                                                                            %>
                                                                                                    </span>
                                                                                                </dd>
                                                                                                <% } else {%>
                                                                                                    <dd>
                                                                                                        <span
                                                                                                            class="badge rounded-pill alert-success text-success">
                                                                                                            Paid online
                                                                                                        </span>
                                                                                                    </dd>

                                                                                                    <%} %>
                                                                                        </dl>
                                                                                    </article>
                                                                                </td>
                                                                            </tr>
                                                </tbody>
                                            </table>
                                        </div> <!-- table-responsive// -->
                                        <!-- <a class="btn btn-primary" href="page-orders-tracking.html">View Order Tracking</a> -->
                                    </div> <!-- col// -->
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-4">
                                        <div class="box shadow-sm bg-light">
                                            <h6 class="mb-15">Payment info</h6>
                                            <p>
                                                <img src="assets/imgs/card-brands/2.png" class="border" height="20">
                                                Master Card **** **** 4768 <br>
                                                Business name: Grand Market LLC <br>
                                                Phone: +1 (800) 555-154-52
                                            </p>
                                        </div>
                                        <!-- <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Notes</label>
                                    <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                </div>
                                <button class="btn btn-primary">Save note</button>
                            </div> -->
                                    </div> <!-- col// -->
                                </div>
                            </div> <!-- card-body end// -->
                        </div> <!-- card end// -->
                        <%} %>
                        <%} %>
                    </section> <!-- content-main end// -->

            </main>
            <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
            <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
            <script src="assets/js/vendors/select2.min.js"></script>
            <script src="assets/js/vendors/perfect-scrollbar.js"></script>
            <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
            <!-- Main Script -->
            <script src="assets/js/main.js" type="text/javascript"></script>
    </body>

    </html>