<header class="header-area header-style-3 header-height-2">
    <div class="header-top header-top-ptb-1 d-none d-lg-block" style="background-color: gray ;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">

                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>Timeless Elegance, Modern Design</a>
                                </li>
                                <li>Value Deals - Save more with coupons</li>
                                <li>Discover the Perfect Watch for Every Occasion.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li>
                                <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English </a>

                            </li>

                            <%if (typeof(user) !=="undefined" && user ) {%>
                                <li><i class="fi-rs-user"></i><a href="/user/account"><span>Hello <%=user.name %>
                                        </span></a>

                                </li>

                                <%}else{%>

                                    <li><i class="fi-rs-user"></i><a href="/user/login">Log In / Sign Up</a>
                                    </li>

                                    <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="/user/home"><img src="/user.assets/imgs/theme/seiko-logo.png" alt="logo"></a>
                </div>
                <div class="header-right">





                    <!-- <div class="search-style-2">
                        <form action="#" class="searchform" onsubmit="searchProductsAndCategories()">

                            <input type="text" placeholder="Search for items...">

                        </form>

                        <ul style="width: 500px; background-color:white; margin-left: 60px; margin-top: 10px;">
                            <li style=" padding: 5px; margin-left: 10px; font-size: small; ">jsfksjdfkjs</li>
                            <li style=" padding: 5px; margin-left: 10px; font-size: small; ">jsfksjdfkjs</li>
                            <li style=" padding: 5px; margin-left: 10px; font-size: small; ">jsfksjdfkjs</li>
                            <li style=" padding: 5px; margin-left: 10px; font-size: small; ">jsfksjdfkjs</li>
                            <li style=" padding: 5px; margin-left: 10px; font-size: small; ">jsfksjdfkjs</li>
                            <li style=" padding: 5px; margin-left: 10px; font-size: small; ">jsfksjdfkjs</li>
                            <li style=" padding: 5px; margin-left: 10px; font-size: small; ">jsfksjdfkjs</li>
                            <li style=" padding: 5px; margin-left: 10px; font-size: small; ">jsfksjdfkjs</li>
                            <li style=" padding: 5px; margin-left: 10px; font-size: small; ">jsfksjdfkjs</li>
                            <li style=" padding: 5px; margin-left: 10px; font-size: small; ">jsfksjdfkjs</li>

                        </ul>


                    </div> -->







                    <div class=" col-search" style="width:700px;">
                        <form class="searchform">
                            <div class="input-group">
                                <input id="searchTerm" list="search_terms" type="text" class="form-control"
                                    placeholder="Search term">
                                <button class="btn btn-light bg" type="button" onclick="searchProductsAndCategories()">
                                    Search</button>
                            </div>
                            <datalist id="search_terms" style="width: 500px;">
                                <option value="Products">
                                <option
                                    value="New orderssjfksjfkjsdfkjsdkfjsdkfjsdkfjksdjf skdjfkdsjfkdsjkfjd skfjdskfj">
                                <option value="Apple iphone">
                                <option value="Ahmed Hassan">
                            </datalist>
                        </form>
                    </div>

                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist/view">
                                    <img class="svgInject" alt="Evara"
                                        src="/user.assets/imgs/theme/icons/icon-heart.svg">

                                    <%if (typeof(user) !=="undefined" && user ) {%>

                                        <span class="pro-count blue" id="wishlistCount">
                                            <%=user.wishlist.length %>
                                        </span>

                                        <%}else{%>


                                            <span class="pro-count blue">0</span>

                                            <%}%>

                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart/view">
                                    <img alt="Evara" src="/user.assets/imgs/theme/icons/icon-cart.svg">

                                    <%if (typeof(user) !=="undefined" && user ) {%>

                                        <span class="pro-count blue" id="cartCount">
                                            <%=user.cart.length %>
                                        </span>

                                        <%}else{%>

                                            <span class="pro-count blue">0</span>

                                            <%}%>

                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <% let totalAmount=0 ;%>

                                            <%if (typeof(user) !=="undefined" && user ) {%>

                                                <%if(user.cart.length> 0) {%>

                                                    <!-- Finding out total amount-->
                                                    <%user.cart.forEach((element, i)=> { %>

                                                        <%if(user.cart[i].product.discountedPrice) {%>

                                                            <%totalAmount +=(user.cart[i].quantity *
                                                                user.cart[i].product.discountedPrice ) %>


                                                                <% } else{%>

                                                                    <%totalAmount +=(user.cart[i].quantity *
                                                                        user.cart[i].product.price ) %>


                                                                        <% }%>

                                                                            <%}) %>




                                                                                <!-- Displaying first 2 items of the cart if cart has 2 or more than 2 items-->


                                                                                <%if(user.cart.length>= 2) {%>

                                                                                    <%for(let i=0; i<2; i++) {%>




                                                                                        <li>
                                                                                            <div
                                                                                                class="shopping-cart-img">
                                                                                                <a
                                                                                                    href="shop-product-right.html"><img
                                                                                                        alt="Evara"
                                                                                                        src="<%=user.cart[i].product.images[0].url %>"></a>
                                                                                            </div>
                                                                                            <div
                                                                                                class="shopping-cart-title">
                                                                                                <h4><a
                                                                                                        href="shop-product-right.html">
                                                                                                        <%=user.cart[i].product.name.slice(0,15)%>
                                                                                                    </a></h4>
                                                                                                <h4><span>
                                                                                                        <%=user.cart[i].quantity%>
                                                                                                            ×
                                                                                                    </span>

                                                                                                    <%if(user.cart[i].product.discountedPrice)
                                                                                                        {%>
                                                                                                        ₹
                                                                                                        <%=user.cart[i].product.discountedPrice%>

                                                                                                            <%} else {
                                                                                                                %>

                                                                                                                ₹
                                                                                                                <%=user.cart[i].product.price%>



                                                                                                                    <%}
                                                                                                                        %>
                                                                                                </h4>
                                                                                            </div>

                                                                                        </li>


                                                                                        <%} %>



                                                                                            <%} else{ %>

                                                                                                <%for(let i=0; i<1; i++)
                                                                                                    {%>



                                                                                                    <li>
                                                                                                        <div
                                                                                                            class="shopping-cart-img">
                                                                                                            <a
                                                                                                                href="shop-product-right.html"><img
                                                                                                                    alt="Evara"
                                                                                                                    src="<%=user.cart[i].product.images[0].url %>"></a>
                                                                                                        </div>
                                                                                                        <div
                                                                                                            class="shopping-cart-title">
                                                                                                            <h4><a
                                                                                                                    href="shop-product-right.html">
                                                                                                                    <%=user.cart[i].product.name.slice(0,15)%>
                                                                                                                </a>
                                                                                                            </h4>
                                                                                                            <h4><span>
                                                                                                                    <%=user.cart[i].quantity%>
                                                                                                                        ×
                                                                                                                </span>

                                                                                                                <%if(user.cart[i].product.discountedPrice)
                                                                                                                    {%>
                                                                                                                    ₹
                                                                                                                    <%=user.cart[i].product.discountedPrice%>

                                                                                                                        <%} else
                                                                                                                            {
                                                                                                                            %>

                                                                                                                            ₹
                                                                                                                            <%=user.cart[i].product.price%>



                                                                                                                                <%}
                                                                                                                                    %>
                                                                                                            </h4>
                                                                                                        </div>

                                                                                                    </li>


                                                                                                    <%} %>




                                                                                                        <%}%>







                                                                                                            <%} %>


                                                                                                                <%}else{%>


                                                                                                                    <%}%>




                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span id="totalAmountInHeader">
                                                    ₹ <%=totalAmount%>
                                                </span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="/cart/view" class="outline">View cart</a>
                                            <a href="/order/buy">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative  ">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="/user/home"><img src="/user.assets/imgs/theme/seiko-logo.png" alt="logo"></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <div class="main-categori-wrap d-none d-lg-block">


                    </div>
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>
                            <ul>

                                <li style="margin-left: 150px; margin-right: 50px;"><a class="active">Collection <i
                                            class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <% if (typeof(categories!=="undefined" )) { %>
                                            <% categories.forEach(element=> {%>
                                                <li><a href="/product/view-user?category=<%=element._id %>">
                                                        <%=element.name %>
                                                    </a></li>

                                                <% }); %>
                                                    <% } %>
                                    </ul>
                                </li>


                                <!-- <li>
                                        <a>About</a>
                                    </li> -->
                                <li style="margin-left: 150px;"><a>Heritage <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">


                                    </ul>
                                </li>

                                <li style="margin-left: 180px;"><a>Technology <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">

                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>

                <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%
                </p>
                <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="/wishlist/view">
                                <img alt="Evara" src="/user.assets/imgs/theme/icons/icon-heart.svg">

                                <%if (typeof(user) !=="undefined" && user ) {%>

                                    <span class="pro-count white">
                                        <%=user.wishlist.length %>
                                    </span>

                                    <%}else{%>


                                        <span class="pro-count white">0</span>

                                        <%}%>

                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/cart/view">
                                <img alt="Evara" src="/user.assets/imgs/theme/icons/icon-cart.svg">

                                <%if (typeof(user) !=="undefined" && user ) {%>

                                    <span class="pro-count white">
                                        <%=user.cart.length %>
                                    </span>

                                    <%}else{%>

                                        <span class="pro-count white">0</span>

                                        <%}%>

                            </a>

                        </div>

                        <div class="header-info header-info-right">
                            <ul>


                                <%if (typeof(user) !=="undefined" && user ) {%>
                                    <li><i class="fi-rs-user"></i><a href="/user/account"><span>Hello <%=user.name %>
                                            </span></a>

                                    </li>

                                    <%}else{%>

                                        <li><i class="fi-rs-user"></i><a href="/user/login">Log In / Sign Up</a>
                                        </li>

                                        <%}%>
                            </ul>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</header>









<script>

    async function searchProductsAndCategories() {

        // Getting the search input
        const searchTerm = document.getElementById("searchTerm")
        const searchTermValue = searchTerm.value;

        let searchQuery = "/user/home/search?search=" + searchTermValue

        const response = await fetch(searchQuery)
        const data = await response.json()

        const datalist = document.getElementById('search_terms');
        datalist.innerHTML = ''; // Clear existing options

        if (data.categories.length > 0) {
            data.categories.forEach((category) => {

                const option = document.createElement('option');
                option.value = category.name
                datalist.appendChild(option);



            })


            searchTerm.click()
        }


    }

</script>