<%- include ('./layouts/head.ejs') %>

    <body>

        <%- include ('./partials/user.header.ejs') %>



            <main class="main">
                <div class="page-header breadcrumb-wrap">
                    <div class="container">
                        <div class="breadcrumb">
                            <a href="index.html" rel="nofollow">Home</a>
                            <span></span> Shop
                            <span></span> Wishlist
                        </div>
                    </div>
                </div>
                <section class="mt-50 mb-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table shopping-summery text-center">
                                        <thead>
                                            <tr class="main-heading">
                                                <th scope="col" colspan="2">Product</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Stock Status</th>
                                                <th scope="col">Action</th>
                                                <th scope="col">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <%if(userWishlist.length> 0) {%>

                                                <%userWishlist.forEach((element)=> { %>

                                                    <tr>
                                                        <td class="image product-thumbnail"><a
                                                                href="/product/view-user/<%=element.product[0]._id %>"><img
                                                                    src="<%=element.product[0].images[0].url %>"
                                                                    alt="#"> </a></td>
                                                        <td class="product-des product-name" style="max-width: 200px;">
                                                            <h5 class="product-name"><a
                                                                    href="/product/view-user/<%=element.product[0]._id %>">
                                                                    <%=element.product[0].name %>
                                                                </a></h5>

                                                        </td>
                                                        <td class="price" data-title="Price"><span>&#8377
                                                                <%=element.product[0].price %> </span></td>



                                                        <%if(element.inStock) {%>

                                                            <td class="text-center" data-title="Stock">
                                                                <span class="color3 font-weight-bold">In Stock</span>
                                                            </td>
                                                            <td class="text-right" data-title="Cart">
                                                                <button class="btn btn-sm" onclick="moveToCart('<%=element.product[0]._id %>')"><i
                                                                        class="fi-rs-shopping-bag mr-5"></i>Add to
                                                                    cart</button>
                                                            </td>

                                                            <% } else {%>
                                                                <td class="text-center" data-title="Stock">
                                                                    <span class="text-danger font-weight-bold">Out of
                                                                        stock</span>
                                                                </td>
                                                                <td class="text-right" data-title="Cart">
                                                                    <button class="btn btn-sm btn-secondary"><i
                                                                            class="fi-rs-headset mr-5"></i>Contact
                                                                        Us</button>
                                                                </td>

                                                                <% } %>
                                                                    <td class="action" data-title="Remove"><a
                                                                            onclick="deleteFromWishlist('<%=element.product[0]._id %>')"><i
                                                                                class="fi-rs-trash"></i></a></td>
                                                    </tr>

                                                    <% })%>
                                                        <% }%>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>


            <script>

                function moveToCart (product) {
                    let data = {
                        productId: product,
                    }

                    data = JSON.stringify(data);

                    fetch("/cart/add", {
                        method: "post", 
                        headers: {
                            'Content-Type': 'application/json'
                        }, 
                        body: data
                    })
                    .then((res) => {
                        if(res.ok) {
                            
                            deleteFromWishlist(product)
                            
                        }
                    })
                }




                function deleteFromWishlist(product) {

                    let data = {
                        product,
                    }

                    data = JSON.stringify(data)

                    fetch("/wishlist/delete", {
                         method: "DELETE",
                          headers: {
                            'Content-Type': 'application/json'
                        },
                         body: data,
                    })
                    .then((res) => {
                        if(res.ok) {
                            window.location.reload()
                        }
                    })


                }
            </script>



            <!-- Vendor JS-->
            <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
            <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
            <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
            <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
            <script src="assets/js/plugins/slick.js"></script>
            <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
            <script src="assets/js/plugins/wow.js"></script>
            <script src="assets/js/plugins/jquery-ui.js"></script>
            <script src="assets/js/plugins/perfect-scrollbar.js"></script>
            <script src="assets/js/plugins/magnific-popup.js"></script>
            <script src="assets/js/plugins/select2.min.js"></script>
            <script src="assets/js/plugins/waypoints.js"></script>
            <script src="assets/js/plugins/counterup.js"></script>
            <script src="assets/js/plugins/jquery.countdown.min.js"></script>
            <script src="assets/js/plugins/images-loaded.js"></script>
            <script src="assets/js/plugins/isotope.js"></script>
            <script src="assets/js/plugins/scrollup.js"></script>
            <script src="assets/js/plugins/jquery.vticker-min.js"></script>
            <!-- Template  JS -->
            <script src="./assets/js/main.js?v=3.4"></script>
            <script src="./assets/js/shop.js?v=3.4"></script>
    </body>

    </html>