<%- include ('./layouts/head.ejs') %>

    <body>

        <%- include ('./partials/user.header.ejs') %>


            <main class="main">
                <div class="page-header breadcrumb-wrap">
                    <div class="container">
                        <div class="breadcrumb">
                            <a href="index.html" rel="nofollow">Home</a>
                            <span></span> Checkout
                        </div>
                    </div>
                </div>
                <section class="mt-50 mb-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 mb-sm-15">

                                <div class="table-responsive order_table text-center">
                                    <table class="table">

                                        <%if(typeof(userDefaultAddress)!== "undefined" ) {%>
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Delivery address</th>

                                                </tr>
                                            </thead>
                                            <%if(userDefaultAddress.length>0 ) {%>


                                                <tbody>
                                                    <tr>


                                                        <td>
                                                            <h5 style="margin-bottom: 5px;">
                                                                <%=userDefaultAddress[0].name %>
                                                            </h5>
                                                            <%=userDefaultAddress[0].houseName %>,
                                                                <%=userDefaultAddress[0].area %>
                                                                    <br>
                                                                    <%=userDefaultAddress[0].town %>,
                                                                        <%=userDefaultAddress[0].pincode %>
                                                                            <br>
                                                                            <%=userDefaultAddress[0].mobileNumber %>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                                <%} %>
                                                    <%}%>



                                    </table>
                                </div>


                                <%if(userDefaultAddress.length==0) { %>

                                    <div style="margin-left: 180px; margin-bottom: 20px;">
                                        <h5>No default address set</h5>
                                    </div>
                                    <% } %>


                                        <div class="toggle_info" style="display: block;">
                                            <span><i class="fi-rs-user mr-10"></i><span style="margin-right: 10px;"
                                                    class="text-muted">Change
                                                    address </span> <a href="#changeAddress" data-bs-toggle="collapse"
                                                    class="collapsed" aria-expanded="false"> Click here to
                                                    select</a></span>
                                        </div>
                                        <div class="panel-collapse collapse login_form" id="changeAddress">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">Saved addresses</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(typeof(userAddresses)!=="undefined" ) {%>

                                                            <%if(typeof(userDefaultAddress) !=="undefined" ) {%>

                                                                <%if(userDefaultAddress.length>0) {%>


                                                                    <tr>

                                                                        <td>
                                                                            <input
                                                                                style="width: 20px; margin-right: 30px;"
                                                                                type="radio" name="addressSelection"
                                                                                id="defaultAddress" checked
                                                                                value="<%=userDefaultAddress[0]._id %>">
                                                                            <label for="address1">
                                                                                <h5 style="margin-bottom: 5px; ">
                                                                                    <%=userDefaultAddress[0].name %>
                                                                                </h5>
                                                                                <%=userDefaultAddress[0].houseName %>,
                                                                                    <%=userDefaultAddress[0].area %>
                                                                                        <br>
                                                                                        <%=userDefaultAddress[0].town %>
                                                                                            ,
                                                                                            <%=userDefaultAddress[0].pincode
                                                                                                %>
                                                                                                <br>
                                                                                                <%=userDefaultAddress[0].mobileNumber
                                                                                                    %>
                                                                            </label>
                                                                        </td>

                                                                    </tr>

                                                                    <%} %>
                                                                        <%} %>

                                                                            <%if(userAddresses.length>0 &&
                                                                                userDefaultAddress.length !== 0) {%>

                                                                                <% userAddresses.forEach((address)=> {
                                                                                    %>
                                                                                    <tr>

                                                                                        <td>
                                                                                            <input
                                                                                                style="width: 20px; margin-right: 30px;"
                                                                                                type="radio"
                                                                                                name="addressSelection"
                                                                                                id="address<%= address._id %>"
                                                                                                value="<%=address._id %>">
                                                                                            <label for="address1">
                                                                                                <h5
                                                                                                    style="margin-bottom: 5px; ">
                                                                                                    <%=address.name %>
                                                                                                </h5>
                                                                                                <%=address.houseName %>,
                                                                                                    <%=address.area %>
                                                                                                        <br>
                                                                                                        <%=address.town
                                                                                                            %>,
                                                                                                            <%=address.pincode
                                                                                                                %>
                                                                                                                <br>
                                                                                                                <%=address.mobileNumber
                                                                                                                    %>
                                                                                            </label>
                                                                                        </td>

                                                                                    </tr>
                                                                                    <% })%>
                                                                                        <% }%>

                                                                                            <%if((userAddresses.length>0
                                                                                                ) &&
                                                                                                userDefaultAddress.length
                                                                                                == 0) {%>

                                                                                                <%
                                                                                                    userAddresses.forEach((address)=>
                                                                                                    {
                                                                                                    %>
                                                                                                    <tr>

                                                                                                        <td>
                                                                                                            <input
                                                                                                                style="width: 20px; margin-right: 30px;"
                                                                                                                type="radio"
                                                                                                                name="addressSelection"
                                                                                                                id="address<%= address._id %>"
                                                                                                                value="<%=address._id %>"
                                                                                                                checked>
                                                                                                            <label
                                                                                                                for="address1">
                                                                                                                <h5
                                                                                                                    style="margin-bottom: 5px; ">
                                                                                                                    <%=address.name
                                                                                                                        %>
                                                                                                                </h5>
                                                                                                                <%=address.houseName
                                                                                                                    %>,
                                                                                                                    <%=address.area
                                                                                                                        %>
                                                                                                                        <br>
                                                                                                                        <%=address.town
                                                                                                                            %>
                                                                                                                            ,
                                                                                                                            <%=address.pincode
                                                                                                                                %>
                                                                                                                                <br>
                                                                                                                                <%=address.mobileNumber
                                                                                                                                    %>
                                                                                                            </label>
                                                                                                        </td>

                                                                                                    </tr>
                                                                                                    <% })%>
                                                                                                        <% }%>








                                                                                                            <% }%>
                                                                                                                <!-- Add more rows with similar structure for additional addresses -->
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>



                                        <div class="toggle_info">
                                            <span><i class="fi-rs-user mr-10"></i><span style="margin-right: 10px;"
                                                    class="text-muted">Deliver
                                                    to a new address? </span> <a href="#loginform"
                                                    data-bs-toggle="collapse" class="collapsed" aria-expanded="false">
                                                    Click here to add
                                                    address</a></span>
                                        </div>
                                        <div class="panel-collapse collapse login_form" id="loginform">
                                            <div class="panel-body">

                                                <form method="post">
                                                    <div class="form-group">
                                                        <input type="text" name="name" placeholder="Name" id="name"
                                                            oninput="validateFieldName()">
                                                        <span style="color: red;" id="nameError" class="error"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="mobileNumber"
                                                            placeholder="Mobile Number" id="mobileNumber"
                                                            oninput="validateFieldMobileNumber()">
                                                        <span style="color: red;" id="mobileNumberError"
                                                            class="error"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="pincode" placeholder="Pincode"
                                                            id="pincode" oninput="validateFieldPincode()">
                                                        <span style="color: red;" id="pincodeError"
                                                            class="error"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="houseName" placeholder="House name"
                                                            id="houseName" oninput="validateFieldHouseName()">
                                                        <span style="color: red;" id="houseNameError"
                                                            class="error"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="area" placeholder="Area" id="area"
                                                            oninput="validateFieldarea()">
                                                        <span style="color: red;" id="areaError" class="error"></span>

                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="landmark" placeholder="Land mark"
                                                            id="landmark" oninput="validateFieldlandmark()">
                                                        <span style="color: red;" id="landmarkError"
                                                            class="error"></span>

                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="town" placeholder="Town" id="town"
                                                            oninput="validateFieldtown()">
                                                        <span style="color: red;" id="townError" class="error"></span>

                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="state" placeholder="State" id="state"
                                                            oninput="validateFieldstate()">
                                                        <span style="color: red;" id="stateError" class="error"></span>
                                                    </div>


                                                    <div class="form-group">
                                                        <button onclick="setDeliveryAddress()" type="button"
                                                            class="btn btn-md" name="login">Set Delivery
                                                            Address</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>



                                        <div class="col-lg-6" style="width: 540px; margin-top: 25px;">
                                            <div class="toggle_info">
                                                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a
                                                        coupon?</span> <a href="#coupon" data-bs-toggle="collapse"
                                                        class="collapsed" aria-expanded="false">Click
                                                        here to enter your
                                                        code</a></span>
                                            </div>
                                            <div class="panel-collapse collapse coupon_form " id="coupon">
                                                <div class="panel-body">
                                                    <p class="mb-30 font-sm">If you have a coupon code, please apply it
                                                        below.
                                                    </p>

                                                    <ul style="margin-bottom: 20px;" id="appliedCouponLi">

                                                    </ul>
                                                    <form>
                                                        <div class="form-group">
                                                            <input id="couponInput" type="text"
                                                                placeholder="Enter Coupon Code...">
                                                        </div>
                                                        <div class="form-group">
                                                            <button class="btn  btn-md" name="login"
                                                                onclick="applyCoupon()">Apply
                                                                Coupon</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                            </div>

                            <div class="col-md-5">
                                <div class="order_review">
                                    <div class="mb-20">
                                        <h4>Order Summary</h4>
                                    </div>
                                    <div class="table-responsive order_table text-center">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <%if(typeof(userCart) !=="undefined" ) {%>
                                                    <%userCart.forEach((user)=> {%>

                                                        <tr>
                                                            <td class="image product-thumbnail"><img
                                                                    src="<%=user.product[0].images[0].url %>" alt="#">
                                                            </td>
                                                            <input type="hidden" class="productId"
                                                                value="<%=user.product[0]._id %>">
                                                            <input type="hidden" class="productQuantity"
                                                                value="<%=user.cart.quantity %>">

                                                            <%if(user.product[0].discountedPrice) {%>
                                                                <input type="hidden" class="productPrice"
                                                                    value="<%=user.product[0].discountedPrice%>">
                                                                <% } else {%>
                                                                    <input type="hidden" class="productPrice"
                                                                        value="<%=user.product[0].price%>">

                                                                    <% }%>


                                                                        <td>
                                                                            <h5><a href="shop-product-full.html">
                                                                                    <%=user.product[0].name %>
                                                                                </a>
                                                                            </h5> <span class="product-qty">x
                                                                                <%=user.cart.quantity %>
                                                                            </span>
                                                                        </td>
                                                                        <td class="sub-total-individual-products">
                                                                            <%=user.subTotal %>
                                                                        </td>
                                                        </tr>

                                                        <%}) %>
                                                            <%} %>


                                                                <%if(typeof(product) !=="undefined" ) {%>
                                                                    <%product.forEach((product)=> {%>

                                                                        <tr>
                                                                            <td class="image product-thumbnail"><img
                                                                                    src="<%=product.images[0].url %>"
                                                                                    alt="#">
                                                                            </td>
                                                                            <input type="hidden" class="productId"
                                                                                value="<%=product._id %>">
                                                                            <input type="hidden" class="productQuantity"
                                                                                value="<%=productQuantity %>">

                                                                            <%if(product.discountedPrice) {%>
                                                                                <input type="hidden"
                                                                                    class="productPrice"
                                                                                    value="<%=product.discountedPrice%>">
                                                                                <% } else {%>
                                                                                    <input type="hidden"
                                                                                        class="productPrice"
                                                                                        value="<%=product.price%>">

                                                                                    <% }%>

                                                                                        <td>
                                                                                            <h5><a
                                                                                                    href="shop-product-full.html">
                                                                                                    <%=product.name %>
                                                                                                </a>
                                                                                            </h5> <span
                                                                                                class="product-qty">x
                                                                                                <%=productQuantity %>
                                                                                            </span>
                                                                                        </td>
                                                                                        <td
                                                                                            class="sub-total-individual-products">
                                                                                            <%=subTotal %>
                                                                                        </td>
                                                                        </tr>

                                                                        <%}) %>
                                                                            <%} %>


                                                                                <tr>
                                                                                    <th>SubTotal</th>
                                                                                    <td class="product-subtotal"
                                                                                        colspan="2"
                                                                                        id="totalAmountBeforeShipping">
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Discount</th>
                                                                                    <td colspan="2" id="discountAmount">
                                                                                        <em>0</em>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Total</th>
                                                                                    <td colspan="2"
                                                                                        class="product-subtotal"
                                                                                        id="totalAmount"><span
                                                                                            class="font-xl text-brand fw-900"></span>
                                                                                    </td>
                                                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    <div class="payment_method">
                                        <div class="mb-25">
                                            <h5>Select a Payment method</h5>
                                        </div>
                                        <div class="payment_option">
                                            <div class="custome-radio">
                                                <input class="form-check-input" required="" type="radio" checked
                                                    name="payment_option" id="exampleRadios3" value="Cash on delivery">
                                                <label class="form-check-label" for="exampleRadios3"
                                                    data-bs-toggle="collapse" data-target="#bankTranfer"
                                                    aria-controls="bankTranfer">Cash on delivery</label>
                                                <div class="form-group collapse in" id="bankTranfer">

                                                </div>
                                            </div>
                                            <div class="custome-radio">
                                                <input class="form-check-input" required="" type="radio"
                                                    name="payment_option" id="rzp-button1" value="Pay online">
                                                <label class="form-check-label" for="rzp-button1"
                                                    data-bs-toggle="collapse" data-target="#checkPayment"
                                                    aria-controls="checkPayment">Pay online </label>
                                                <div class="form-group collapse in" id="checkPayment">

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <a onclick="selectPayment()" class="btn btn-fill-out btn-block mt-30 "
                                        style="margin-left: 100px;">Place Your Order</a>
                                </div>
                            </div>

                        </div>

                        <div class="row">


                        </div>
                    </div>
                    </div>
                </section>
            </main>





            <script>



                // if default address is not there, remvoving the collapse
                // of the select address DIV

                document.addEventListener("DOMContentLoaded", removeCollapse)

                function removeCollapse() {
                    if ('<%=userDefaultAddress.length %>' == 0) {
                        document.getElementById("changeAddress").classList.remove("collapse")
                    }
                }



                // For getting user selected payment method
                let paymentMethod = "Cash on delivery";

                const paymentRadioButtons = document.querySelectorAll('input[name="payment_option"]');


                paymentRadioButtons.forEach((radio) => {
                    radio.addEventListener('change', () => {
                        paymentMethod = radio.value;
                    });
                });

                // For getting the productid and quantity
                let productId = [];
                let quantity = [];
                let productPrice = [];


                function getProductIdAndQuantity() {
                    let productIdElements = document.getElementsByClassName("productId")
                    let productQuantityElements = document.getElementsByClassName("productQuantity")
                    let productPriceElements = document.getElementsByClassName("productPrice")

                    productIdElements = Array.from(productIdElements)
                    productQuantityElements = Array.from(productQuantityElements)
                    productPriceElements = Array.from(productPriceElements)

                    productIdElements.forEach((element) => {
                        productId.push(element.value)
                    })
                    productQuantityElements.forEach((element) => {
                        quantity.push(element.value)
                    })

                    productPriceElements.forEach((element) => {
                        productPrice.push(element.value)
                    })

                }




                // For calculating total amount

                document.addEventListener("DOMContentLoaded", loadTotalAmount)

                let totalAmount;
                function loadTotalAmount() {
                    let elements = document.getElementsByClassName("sub-total-individual-products")
                    elements = Array.from(elements)


                    totalAmount = elements.reduce((accumulator, value) => {
                        return parseInt(value.textContent) + accumulator;
                    }, 0)

                    let totalAmountBeforeShippingElement = document.getElementById("totalAmountBeforeShipping")
                    totalAmountBeforeShippingElement.textContent = '\u20B9 ' + totalAmount

                    let totalAmountElement = document.getElementById("totalAmount")
                    totalAmountElement.textContent = '\u20B9 ' + totalAmount
                    totalAmountElement.classList.add("text-brand")
                    totalAmountElement.classList.add("font-xl")
                    totalAmountElement.classList.add("fw-900")
                }


                let productDetails = [];
                let paymentId;

                // According to payment method, creating order
                function selectPayment() {
                    // Calling the function to get product and quantity
                    getProductIdAndQuantity()

                    // Making a single array from product and quantity array
                    productId.forEach((element, index) => {
                        let data = {
                            product: element,
                            quantity: quantity[index],
                            price: productPrice[index]
                        }
                        productDetails.push(data)
                    })


                    if (paymentMethod === "Pay online") {


                        // For getting the input address  
                        let selectedAddressIndex = null;

                        const radioButtons = document.querySelectorAll('input[name="addressSelection"]');

                        for (const radioButton of radioButtons) {
                            if (radioButton.checked) {
                                selectedAddressIndex = radioButton.value;
                                break;
                            }
                        }

                        if (selectedAddressIndex === null) {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Please select your preferred address for a seamless experience on our platform.",
                            })
                                .then(() => {


                                })

                            return;

                        }

                        // if the user selected online payment, a fetch request for generating..
                        // razor pay order is sent. 
                        let onlinePaymentData = {
                            totalAmount,
                            productDetails,
                        }
                   
                        onlinePaymentData = JSON.stringify(onlinePaymentData);

                        fetch("/order/online-payment", {
                            method: "POST", headers: {
                                'Content-Type'
                                    : 'application/json'
                            }, body: onlinePaymentData,
                        })
                            .then((res) => {
                                return res.json()
                            })
                            .then((data) => {

                                if (data.message === "Sorry, the requested quantity is currently unavailable.!") {

                                     // Clear the already available product details
                                    productId.length = 0;
                                    quantity.length = 0;
                                    productPrice.length = 0;
                                    productDetails.length = 0

                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: "Sorry, the requested quantity is currently unavailable.!",
                                    })
                                        .then(() => {


                                        })

                                    return

                                } else if (data.message === "Please select your preferred address for a seamless experience on our platform.") {

                                     // Clear the already available product details
                                    productId.length = 0;
                                    quantity.length = 0;
                                    productPrice.length = 0;
                                    productDetails.length = 0

                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: "Please select your preferred address for a seamless experience on our platform.",
                                    })
                                        .then(() => {


                                        })

                                    return


                                }


                                let options = {
                                    "key": data.key_id,
                                    "amount": data.amount,
                                    "currency": "INR",
                                    "name": "Seiko watches",
                                    "order_id": data.order_id,
                                    "handler": function (response) {

                                        // Redirecting the user to creating order,  
                                        paymentId = response.razorpay_payment_id;
                                        createOrder()

                                    },
                                    "theme": {
                                        "color": "#3399cc"
                                    }
                                }

                                var rzp1 = new Razorpay(options);

                                rzp1.on('payment.failed', function (response) {
                                    alert(response.error.code);
                                    alert(response.error.description);
                                    alert(response.error.source);
                                    alert(response.error.step);
                                    alert(response.error.reason);
                                    alert(response.error.metadata.order_id);
                                    alert(response.error.metadata.payment_id);
                                });

                                document.getElementById('rzp-button1').onclick = function (e) {
                                    rzp1.open();
                                    e.preventDefault();
                                }

                                document.getElementById('rzp-button1').click();


                            })

                    } else {

                        createOrder()
                    }

                }



                function createOrder() {

                    let appliedCoupon = document.getElementById("appliedCoupon")

                    if (appliedCoupon) {
                        appliedCoupon = appliedCoupon.textContent
                    }

                    let discountAmount = document.getElementById("discountAmount")

                    if (discountAmount) {
                        discountAmount = discountAmount.textContent
                    }

                    // For getting the input address  
                    let selectedAddressIndex = null;

                    const radioButtons = document.querySelectorAll('input[name="addressSelection"]');

                    for (const radioButton of radioButtons) {
                        if (radioButton.checked) {
                            selectedAddressIndex = radioButton.value;
                            break;
                        }
                    }


                    let data = {
                        selectedAddressIndex,
                        productDetails,
                        totalAmount,
                        paymentMethod,
                        paymentId,
                        appliedCoupon,
                        discountAmount
                    }

                    data = JSON.stringify(data)

                    fetch("/order/buy", {
                        method: "POST", headers: {
                            'Content-Type'
                                : 'application/json'
                        }, body: data,
                    }
                    )
                        .then((res) => {

                            return res.json();
                        })

                        .then((data) => {

                            // Clear the already available product details
                            productId.length = 0;
                            quantity.length = 0;
                            productPrice.length = 0;
                            productDetails.length = 0


               
                            if (data.message === "Order placed") {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Order Placed Successfully!',
                                    text: 'Thank you for choosing our service. Your order has been successfully placed.',
                                })
                                    .then(() => {
                                        window.location.href = "/order/view"
                                    })
                            }

                            else if (data.message === "We're sorry, but your order couldn't be completed due to insufficient stock. Please review your order and try again, or contact customer support for assistance.") {

                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "Sorry, the requested quantity is currently unavailable.!",
                                })
                                    .then(() => {

                                    })
                                    ;
                            } else if (data.message === "Please select your preferred address for a seamless experience on our platform.") {
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "Please select your preferred address for a seamless experience on our platform.!",
                                })
                                    .then(() => {

                                    })
                                    ;
                            }


                        })
                }







                function validateFieldName() {

                    const element = document.getElementById("name");
                    const nameErrorElement = document.getElementById("nameError");

                    if (element.value.length < 3 || element.value.length > 30 || !/^[A-Z]/.test(element.value)) {
                        nameErrorElement.innerHTML = "Name should be 3 to 30 characters and start with an uppercase letter";
                    } else {
                        nameErrorElement.innerHTML = "";
                    }
                }

                function validateFieldMobileNumber() {
                    const element = document.getElementById("mobileNumber");
                    const mobileNumberErrorElement = document.getElementById("mobileNumberError");

                    const mobileNumberValue = element.value;

                    if (mobileNumberValue.length !== 10) {
                        mobileNumberErrorElement.innerHTML = "Mobile number should be 10 digits";
                    } else if (!/^\d+$/.test(mobileNumberValue)) {
                        mobileNumberErrorElement.innerHTML = "Mobile number should consist only of digits";
                    } else {
                        mobileNumberErrorElement.innerHTML = "";
                    }
                }
                function validateFieldPincode() {
                    const element = document.getElementById("pincode");
                    const pincodeErrorElement = document.getElementById("pincodeError");

                    const pincodeValue = element.value;

                    if (element.value.length !== 6) {
                        pincodeErrorElement.innerHTML = "Pincode should be 6 digits";
                    } else if (!/^\d+$/.test(pincodeValue)) {
                        pincodeErrorElement.innerHTML = "Pincode should consist only of digits";
                    } else {
                        pincodeErrorElement.innerHTML = "";
                    }
                }


                function validateFieldHouseName() {
                    const houseNameElement = document.getElementById("houseName");
                    const houseNameErrorElement = document.getElementById("houseNameError");

                    if (houseNameElement.value.length < 3 || houseNameElement.value.length > 50) {
                        houseNameErrorElement.innerHTML = "HouseName should be 3 to 50 characters";
                    } else {
                        houseNameErrorElement.innerHTML = "";
                    }
                }
                function validateFieldarea() {
                    const areaElement = document.getElementById("area");
                    const areaErrorElement = document.getElementById("areaError");

                    if (areaElement.value.length < 3 || areaElement.value.length > 50) {
                        areaErrorElement.innerHTML = "Area name should be 3 to 50 characters";
                    } else {
                        areaErrorElement.innerHTML = "";
                    }
                }
                function validateFieldlandmark() {
                    const landmarkElement = document.getElementById("landmark");
                    const landmarkErrorElement = document.getElementById("landmarkError");

                    if (landmarkElement.value.length < 3 || landmarkElement.value.length > 50) {
                        landmarkErrorElement.innerHTML = "Landmark name should be 3 to 50 characters";
                    } else {
                        landmarkErrorElement.innerHTML = "";
                    }
                }
                function validateFieldtown() {
                    const townElement = document.getElementById("town");
                    const townErrorElement = document.getElementById("townError");

                    if (townElement.value.length < 3 || townElement.value.length > 50) {
                        townErrorElement.innerHTML = "Town name should be 3 to 50 characters";
                    } else {
                        townErrorElement.innerHTML = "";
                    }
                }
                function validateFieldstate() {
                    const stateElement = document.getElementById("state");
                    const stateErrorElement = document.getElementById("stateError");

                    if (stateElement.value.length < 3 || stateElement.value.length > 50) {
                        stateErrorElement.innerHTML = "State name should be 3 to 50 characters";
                    } else {
                        stateErrorElement.innerHTML = "";
                    }
                }

                function setDeliveryAddress() {
                    // Call individual validation functions
                    validateFieldName();
                    validateFieldMobileNumber();
                    validateFieldPincode()
                    validateFieldHouseName();
                    validateFieldarea();
                    validateFieldlandmark();
                    validateFieldtown();
                    validateFieldstate();

                    if (
                        nameError.innerHTML !== "" ||
                        mobileNumberError.innerHTML !== "" ||
                        pincodeError.innerHTML !== "" ||
                        houseNameError.innerHTML !== "" ||
                        areaError.innerHTML !== "" ||
                        landmarkError.innerHTML !== "" ||
                        townError.innerHTML !== "" ||
                        stateError.innerHTML !== ""


                    ) {
                        return false
                    }

                    let name = document.getElementById("name").value;
                    let mobileNumber = document.getElementById("mobileNumber").value
                    let pincode = document.getElementById("pincode").value
                    let houseName = document.getElementById("houseName").value
                    let area = document.getElementById("area").value
                    let landmark = document.getElementById("landmark").value
                    let town = document.getElementById("town").value
                    let state = document.getElementById("state").value

                    let data = {
                        name,
                        mobileNumber,
                        pincode,
                        houseName,
                        area,
                        landmark,
                        town,
                        state,

                    }

                    data = JSON.stringify(data)

                    fetch("/order/address", {
                        method: "POST",
                        headers: {
                            'Content-Type'
                                : 'application/json'
                        },
                        body: data,
                    })
                        .then((res) => {
                            return res.json()
                        })
                        .then((data) => {
                            window.location.reload()
                        })
                }
            </script>


            <script>
                //When user apply a coupon
                function applyCoupon() {
                    event.preventDefault()

                    // If there is already a coupon applied, response by showing only one coupon is allowed
                    const appliedCoupon = document.getElementById("appliedCoupon")
                    if (appliedCoupon) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Only one coupon is allowed per order. Please choose the coupon that provides the best discount for your order.',
                            showConfirmButton: true,
                            confirmButtonText: 'OK',
                            customClass: {
                                confirmButton: 'btn btn-danger', // Add custom class for styling
                            },
                        });

                        return;
                    }

                    let couponInput = document.getElementById("couponInput").value
                    let totalAmountBeforeDiscount = document.getElementById("totalAmountBeforeShipping").innerText
                    totalAmountBeforeDiscount = totalAmountBeforeDiscount.replace("")
    
                    let couponApplyData = {
                        couponInput,
                        totalAmountBeforeDiscount,
                    }

                    couponApplyData = JSON.stringify(couponApplyData);


                    fetch("/coupon/apply", {
                        method: "PUT",
                        headers: {
                            'Content-Type'
                                : 'application/json'
                        },
                        body: couponApplyData,
                    })
                        .then((res) => {

                            return res.json()
                        })
                        .then((data) => {
                            if (data.message) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: data.message,
                                    showConfirmButton: true,
                                    confirmButtonText: 'OK',
                                    customClass: {
                                        confirmButton: 'btn btn-danger', // Add custom class for styling
                                    },
                                });
                            } else if (data.totalAmountAfterDiscount && data.discountAmount) {

                                document.getElementById("totalAmount").textContent = "₹" + data.totalAmountAfterDiscount
                                totalAmount = data.totalAmountAfterDiscount
                                document.getElementById("discountAmount").textContent = " - ₹" + data.discountAmount;


                                // Showing the applied coupon.

                                const listItem = document.createElement("li")

                                // Step 2: Set attributes and styles for the li element
                                listItem.style.margin = "10px";
                                listItem.style.fontWeight = "bolder";
                                listItem.style.fontSize = "small";
                                listItem.id = "appliedCoupon";

                                // Step 3: Add text content to the li element
                                listItem.textContent = data.coupon[0].code;


                                // Step 3: Create the span element
                                var spanElement = document.createElement("span");

                                // Step 4: Set attributes and styles for the span element
                                spanElement.style.cursor = "pointer";
                                spanElement.style.color = "#e74c3c";
                                spanElement.style.margin = "7px";
                                spanElement.className = "remove-icon"; // Add the "remove-icon" class

                                spanElement.addEventListener("click", function () {
                                    // Call a function to remove the parent li element
                                    removeParentLi(listItem);
                                });

                                function removeParentLi(element) {
                                    if (element && element.parentNode) {
                                        element.parentNode.removeChild(element);
                                    }

                                    window.location.reload()
                                }

                                // Step 5: Create the i element (Font Awesome icon)
                                var iconElement = document.createElement("i");
                                iconElement.className = "fas fa-times";

                                // Step 6: Append the icon element to the span element
                                spanElement.appendChild(iconElement);

                                // Step 7: Append the span element to the li element
                                listItem.appendChild(spanElement)


                                // For how much money saved information
                                const infolistItem = document.createElement("li")
                                infolistItem.textContent = `You saved ₹  ${data.discountAmount} by applying this coupon. `

                                document.getElementById("appliedCouponLi").appendChild(listItem)
                                document.getElementById("appliedCouponLi").appendChild(infolistItem)




                            }
                        })
                }


            </script>



            <%- include ('./partials/user.footer.ejs') %>


                <!-- Vendor JS-->
                <script src="/user.assets/js/vendor/modernizr-3.6.0.min.js"></script>
                <script src="/user.assets/js/vendor/jquery-3.6.0.min.js"></script>
                <script src="/user.assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
                <script src="/user.assets/js/vendor/bootstrap.bundle.min.js"></script>
                <script src="/user.assets/js/plugins/slick.js"></script>
                <script src="/user.assets/js/plugins/jquery.syotimer.min.js"></script>
                <script src="/user.assets/js/plugins/wow.js"></script>
                <script src="/user.assets/js/plugins/jquery-ui.js"></script>
                <script src="/user.assets/js/plugins/perfect-scrollbar.js"></script>
                <script src="/user.assets/js/plugins/magnific-popup.js"></script>
                <script src="/user.assets/js/plugins/select2.min.js"></script>
                <script src="/user.assets/js/plugins/waypoints.js"></script>
                <script src="/user.assets/js/plugins/counterup.js"></script>
                <script src="/user.assets/js/plugins/jquery.countdown.min.js"></script>
                <script src="/user.assets/js/plugins/images-loaded.js"></script>
                <script src="/user.assets/js/plugins/isotope.js"></script>
                <script src="/user.assets/js/plugins/scrollup.js"></script>
                <script src="/user.assets/js/plugins/jquery.vticker-min.js"></script>
                <!-- Template  JS -->
                <script src="/user.assets/js/main.js?v=3.4"></script>
                <script src="/user.assets/js/shop.js?v=3.4"></script>

                // Sweet alert CDN
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

                // Razorypay
                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    </body>

    </html>