<%- include ('./layouts/head.ejs') %>

    <body>
        <!-- Quick view -->

        <%- include ('./partials/user.header.ejs') %>


            <main class="main">
                <div class="page-header breadcrumb-wrap">
                    <div class="container">
                        <div class="breadcrumb">
                            <a href="/user/home" rel="nofollow">Home</a>
                            <span></span>
                            <a href="" rel="nofollow">Category</a>

                        </div>
                    </div>
                </div>
                <section class="mt-50 mb-50">
                    <div class="container">
                        <div class="row flex-row-reverse">
                            <div class="col-lg-9">
                                <div class="shop-product-fillter">
                                    <div class="totall-product">
                                        <p> We found <strong class="text-brand" id="filteredItemsQuantity"></strong>
                                            items for you!</p>
                                    </div>

                                </div>
                                <div class="row product-grid-3" id="productContainer">


                                </div>
                                <!--pagination-->
                                <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                                    <nav aria-label="Page navigation example">
                                        <ul id="paginationList" class="pagination justify-content-start">

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-lg-3 primary-sidebar sticky-sidebar">

                                <div class="list-group">
                                    <div class="list-group-item mb-10 mt-10">
                                        <div class="input-upload">

                                            <h4 style="margin-top: 20px;">Applied Filters</h4>
                                            <ul style="display: flex; flex-wrap: wrap  ;" id="filter-list">
                                                <br>



                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="list-group">
                                    <div class="list-group-item mb-10 mt-10">
                                        <label class="fw-900">Gender</label>

                                        <%if(typeof(topCategories)!== "undefined" ) {%>
                                            <%for(const category of topCategories) { %>

                                                <div class="custome-checkbox">
                                                    <input class="form-check-input main-category" type="checkbox"
                                                        onchange="updateMainCategoryFilter()" name="checkbox"
                                                        id="<%=category._id %>" value="<%=category._id %>">
                                                    <label class="form-check-label" for="<%=category._id %>"
                                                        id="label<%=category._id%>">
                                                        <%=category.name %>
                                                    </label>
                                                    <br>
                                                </div>
                                                <%} %>
                                                    <%} %>



                                    </div>
                                </div>
                                <div class="list-group">
                                    <div class="list-group-item mb-10 mt-10">
                                        <label class="fw-900">Movement</label>
                                        <div class="custome-checkbox">

                                            <%if(typeof(subCategoriesofTopCategories)!== "undefined" ) {%>

                                                <%for(const category of subCategoriesofTopCategories) { %>

                                                    <input class="form-check-input sub-category" type="checkbox"
                                                        name="checkbox" id="<%=category._id %>"
                                                        onchange="updateSubCategoryFilter()" value="<%=category._id %>">
                                                    <label class="form-check-label" for="<%=category._id %>"
                                                        id="label<%=category._id%>">
                                                        <%=category.name %>
                                                    </label>
                                                    <br>
                                                    <%} %>
                                                        <%} %>



                                        </div>

                                    </div>
                                </div>

                                <!-- Fillter By Price -->
                                <div class="sidebar-widget price_range range">

                                    <div class="list-group">
                                        <div class="list-group-item  ">

                                            <label class="fw-900">Price</label>
                                            <div class="custome-checkbox">
                                                <input class="form-check-input price" type="checkbox" name="checkbox"
                                                    id="under500" value="" onchange="updatePriceRangeFilter()">
                                                <label class="form-check-label" for="under500" id="labelunder500">Under
                                                    &#8377 500</label>
                                                <br>

                                                <input class="form-check-input price" type="checkbox" name="checkbox"
                                                    id="500to1000" value="" onchange="updatePriceRangeFilter()">
                                                <label class="form-check-label" for="500to1000"
                                                    id="label500to1000">&#8377 500 - &#8377 1000</label>
                                                <br>

                                                <input class="form-check-input price" type="checkbox" name="checkbox"
                                                    id="1000to2000" value="" onchange="updatePriceRangeFilter()">
                                                <label class="form-check-label" for="1000to2000"
                                                    id="label1000to2000">&#8377 1000 - &#8377 2000</label>
                                                <br>

                                                <input class="form-check-input price" type="checkbox" name="checkbox"
                                                    id="2000to3000" value="" onchange="updatePriceRangeFilter()">
                                                <label class="form-check-label" for="2000to3000"
                                                    id="label2000to3000">&#8377 2000 - &#8377 3000</label>
                                                <br>

                                                <input class="form-check-input price" type="checkbox" name="checkbox"
                                                    id="over3000" value="" onchange="updatePriceRangeFilter()">
                                                <label class="form-check-label" for="over3000" id="labelover3000">Over
                                                    &#8377
                                                    3000</label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group">
                                        <div class="list-group-item mb-10 mt-10">

                                            <label class="fw-900 mt-15">Band Material</label>
                                            <div class="custome-checkbox">
                                                <input class="form-check-input band-material" type="checkbox"
                                                    name="checkbox" id="Leather" value=""
                                                    onchange="updateBandMaterialFilter()">
                                                <label class="form-check-label" for="Leather"
                                                    id="labelLeather">Leather</label>
                                                <br>
                                                <input class="form-check-input band-material" type="checkbox"
                                                    name="checkbox" id="Metal" value=""
                                                    onchange="updateBandMaterialFilter()">
                                                <label class="form-check-label" for="Metal"
                                                    id="labelMetal">Metal</label>
                                                <br>
                                                <input class="form-check-input band-material" type="checkbox"
                                                    name="checkbox" id="Titanium" value=""
                                                    onchange="updateBandMaterialFilter()">
                                                <label class="form-check-label" for="Titanium"
                                                    id="labelTitanium">Titanium</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group">
                                        <div class="list-group-item mb-10 mt-10">

                                            <label class="fw-900 mt-15">Dial Color</label>
                                            <div class="custome-checkbox">
                                                <input class="form-check-input dial-color" type="checkbox"
                                                    name="checkbox" id="Black" value=""
                                                    onchange="updateDialColorFilter()">
                                                <label class="form-check-label" for="Black"
                                                    id="labelBlack">Black</label>
                                                <br>
                                                <input class="form-check-input dial-color" type="checkbox"
                                                    name="checkbox" id="Blue" value=""
                                                    onchange="updateDialColorFilter()">
                                                <label class="form-check-label" for="Blue" id="labelBlue">Blue</label>
                                                <br>
                                                <input class="form-check-input dial-color" type="checkbox"
                                                    name="checkbox" id="Brown" value=""
                                                    onchange="updateDialColorFilter()">
                                                <label class="form-check-label" for="Brown"
                                                    id="labelBrown">Brown</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </main>



            <%- include ('./partials/user.footer.ejs') %>

                <% if ( !parentCategory ){ %>
                    <script>
                        // Ticking the selected category, that does not have parent!
                        document.addEventListener("DOMContentLoaded", () => {
                            const mainCategoryElements = document.getElementsByClassName("main-category");
                            const targetCheckbox = Array.from(mainCategoryElements).find((element) => {
                                return element.value === "<%= selectedCategory._id %>";
                            })
                            targetCheckbox.checked = true;

                            // For including this filter in the main filter area

                            const listItem = document.createElement("li")

                            // Step 2: Set attributes and styles for the li element
                            listItem.style.margin = "10px";
                            listItem.style.fontWeight = "bolder";
                            listItem.style.fontSize = "small";
                            listItem.classList.add("main-category-filter")
                            listItem.id = "li" + "<%= selectedCategory._id %>";

                            // Step 3: Add text content to the li element
                            listItem.textContent = "<%= selectedCategory.name %>";

                            // Step 3: Create the span element
                            var spanElement = document.createElement("span");

                            // Step 4: Set attributes and styles for the span element
                            spanElement.style.cursor = "pointer";
                            spanElement.style.color = "#e74c3c";
                            spanElement.style.margin = "7px";
                            spanElement.className = "remove-icon"; // Add the "remove-icon" class

                            // Calling a function to remove the filter when click on the
                            spanElement.addEventListener("click", function () {
                                // Call a function to remove the parent li element
                                removeParentLi(listItem);
                            });

                            function removeParentLi(element) {
                                if (element && element.parentNode) {
                                    element.parentNode.removeChild(element);
                                }

                                checkedBox = document.getElementById("<%= selectedCategory._id %>")
                                checkedBox.checked = false
                                // Fetching products based on new criterion
                                applyFilter()
                            }



                            // Step 5: Create the i element (Font Awesome icon)
                            var iconElement = document.createElement("i");
                            iconElement.className = "fas fa-times";

                            // Step 6: Append the icon element to the span element
                            spanElement.appendChild(iconElement);

                            // Step 7: Append the span element to the li element
                            listItem.appendChild(spanElement)

                            document.getElementById("filter-list").appendChild(listItem)


                            // Fetching products based on this criterion
                            applyFilter()

                        })
                    </script>
                    <% } %>
                        <% if ( parentCategory ){ %>
                            <script>

                                // Ticking the selected category and it's parent category; 
                                document.addEventListener("DOMContentLoaded", () => {

                                    const mainCategoryElements = document.getElementsByClassName("main-category");
                                    const mainTargetCheckbox = Array.from(mainCategoryElements).find((element) => {
                                        return element.value === "<%= selectedCategory.parentCategoryId._id %>";
                                    })

                                    mainTargetCheckbox.checked = true;

                                    // For including this filter in the main filter area

                                    const listItem = document.createElement("li")

                                    //  Set attributes and styles for the li element
                                    listItem.style.margin = "10px";
                                    listItem.style.fontWeight = "bolder";
                                    listItem.style.fontSize = "small";
                                    listItem.classList.add("main-category-filter")
                                    listItem.id = "li" + "<%= selectedCategory.parentCategoryId._id %>";

                                    //  Add text content to the li element
                                    listItem.textContent = "<%= selectedCategory.parentCategoryId.name %>";

                                    //  Create the span element
                                    var spanElement = document.createElement("span");

                                    //  Set attributes and styles for the span element
                                    spanElement.style.cursor = "pointer";
                                    spanElement.style.color = "#e74c3c";
                                    spanElement.style.margin = "7px";
                                    spanElement.className = "remove-icon"; // Add the "remove-icon" class


                                    // Calling a function to remove the filter when click on the
                                    spanElement.addEventListener("click", function () {
                                        // Call a function to remove the parent li element
                                        removeParentLi(listItem);
                                    });

                                    function removeParentLi(element) {
                                        if (element && element.parentNode) {
                                            element.parentNode.removeChild(element);
                                        }


                                        mainTargetCheckbox.checked = false;

                                        applyFilter()
                                    }

                                    // Create the i element (Font Awesome icon)
                                    var iconElement = document.createElement("i");
                                    iconElement.className = "fas fa-times";

                                    //  Append the icon element to the span element
                                    spanElement.appendChild(iconElement);

                                    // Append the span element to the li element
                                    listItem.appendChild(spanElement)

                                    document.getElementById("filter-list").appendChild(listItem)

                                    //------------------------------SubCategory start here-------------------------//

                                    const subCategoryElements = document.getElementsByClassName("sub-category");
                                    const subTargetCheckbox = Array.from(subCategoryElements).find((element) => {
                                        return element.value === "<%= selectedCategory._id %>";
                                    })

                                    subTargetCheckbox.checked = true;



                                    // For including this filter in the main filter area

                                    const subCategoryListItem = document.createElement("li")


                                    //  Set attributes and styles for the li element
                                    subCategoryListItem.style.margin = "10px";
                                    subCategoryListItem.style.fontWeight = "bolder";
                                    subCategoryListItem.style.fontSize = "small";
                                    subCategoryListItem.classList.add("sub-category-filter")
                                    subCategoryListItem.id = "li" + "<%= selectedCategory._id %>";

                                    //  Add text content to the li element
                                    subCategoryListItem.textContent = "<%= selectedCategory.name %>";

                                    // Create the span element
                                    var spanElement = document.createElement("span");

                                    // Set attributes and styles for the span element
                                    spanElement.style.cursor = "pointer";
                                    spanElement.style.color = "#e74c3c";
                                    spanElement.style.margin = "7px";
                                    spanElement.className = "remove-icon"; // Add the "remove-icon" class

                                    // Calling a function to remove the filter when click on the
                                    spanElement.addEventListener("click", function () {
                                        // Call a function to remove the parent li element
                                        removeParentLiOfSubCategoryList(subCategoryListItem);
                                    });

                                    function removeParentLiOfSubCategoryList(element) {
                                        if (element && element.parentNode) {
                                            element.parentNode.removeChild(element);
                                        }

                                        // Removing the checked property also
                                        subTargetCheckbox.checked = false;

                                        applyFilter()
                                    }

                                    //  Create the i element (Font Awesome icon)
                                    var iconElement = document.createElement("i");
                                    iconElement.className = "fas fa-times";

                                    //  Append the icon element to the span element
                                    spanElement.appendChild(iconElement);

                                    //  Append the span element to the li element
                                    subCategoryListItem.appendChild(spanElement)

                                    document.getElementById("filter-list").appendChild(subCategoryListItem)


                                    // Fetching products based on this criterion
                                    applyFilter()


                                })

                            </script>
                            <% } %>





                                <script>

                                    // Updating the price range
                                    function updatePriceRangeFilter() {
                                        let priceRangecheckboxes = document.querySelectorAll("input[type='checkbox'].price");
                                        priceRangecheckboxes = Array.from(priceRangecheckboxes)

                                        let checkedElements = [];
                                        let unCheckedElements = [];

                                        priceRangecheckboxes.forEach(function (checkbox) {
                                            if (checkbox.checked) {
                                                checkedElements.push(checkbox);
                                            } else {
                                                unCheckedElements.push(checkbox)
                                            }
                                        });

                                        checkedElements.forEach((element) => {

                                            if (elementExistInFilter(element)) {
                                                return
                                            }


                                            const labelElement = document.getElementById("label" + element.id);
                                            const listItem = document.createElement("li")

                                            // Step 2: Set attributes and styles for the li element
                                            listItem.style.margin = "10px";
                                            listItem.style.fontWeight = "bolder";
                                            listItem.style.fontSize = "small";
                                            listItem.classList.add("price-filter")
                                            listItem.id = "li" + element.id;

                                            // Step 3: Add text content to the li element
                                            listItem.textContent = labelElement.textContent;

                                            // Step 3: Create the span element
                                            var spanElement = document.createElement("span");

                                            // Step 4: Set attributes and styles for the span element
                                            spanElement.style.cursor = "pointer";
                                            spanElement.style.color = "#e74c3c";
                                            spanElement.style.margin = "7px";
                                            spanElement.className = "remove-icon"; // Add the "remove-icon" class

                                            spanElement.addEventListener("click", function () {
                                                // Call a function to remove the parent li element
                                                removeParentLi(listItem);
                                            });

                                            function removeParentLi(element) {
                                                if (element && element.parentNode) {
                                                    element.parentNode.removeChild(element);
                                                }

                                                let id = (element.id).replace("li", "")
                                                const checkedBox = document.getElementById(id)
                                                checkedBox.checked = false;


                                                applyFilter()
                                            }

                                            // Step 5: Create the i element (Font Awesome icon)
                                            var iconElement = document.createElement("i");
                                            iconElement.className = "fas fa-times";

                                            // Step 6: Append the icon element to the span element
                                            spanElement.appendChild(iconElement);

                                            // Step 7: Append the span element to the li element
                                            listItem.appendChild(spanElement)

                                            document.getElementById("filter-list").appendChild(listItem)

                                        })

                                        if (unCheckedElements.length > 0) {


                                            unCheckedElements.forEach((checkbox) => {

                                                const element = document.getElementById("li" + checkbox.id)
                                                if (element) {

                                                    removeFromFilter(element.id)
                                                }
                                            })

                                        }

                                        // Fetching the products by chekcking filter
                                        applyFilter()

                                    }


                                    // Checking all the checked boxes, and putting that in the
                                    // applied filter area; 
                                    function updateMainCategoryFilter() {

                                        let mainCategorycheckboxes = document.querySelectorAll("input[type='checkbox'].main-category");
                                        mainCategorycheckboxes = Array.from(mainCategorycheckboxes)

                                        let checkedElements = [];
                                        let unCheckedElements = []


                                        mainCategorycheckboxes.forEach(function (checkbox) {
                                            if (checkbox.checked) {
                                                checkedElements.push(checkbox);
                                            } else {
                                                unCheckedElements.push(checkbox)
                                            }
                                        });

                                        checkedElements.forEach((element) => {

                                            if (elementExistInFilter(element)) {
                                                return
                                            }


                                            const labelElement = document.getElementById("label" + element.id);
                                            const listItem = document.createElement("li")

                                            // Step 2: Set attributes and styles for the li element
                                            listItem.style.margin = "10px";
                                            listItem.style.fontWeight = "bolder";
                                            listItem.style.fontSize = "small";
                                            listItem.classList.add("main-category-filter")
                                            listItem.id = "li" + element.id;

                                            // Step 3: Add text content to the li element
                                            listItem.textContent = labelElement.textContent;

                                            // Step 3: Create the span element
                                            var spanElement = document.createElement("span");

                                            // Step 4: Set attributes and styles for the span element
                                            spanElement.style.cursor = "pointer";
                                            spanElement.style.color = "#e74c3c";
                                            spanElement.style.margin = "7px";
                                            spanElement.className = "remove-icon"; // Add the "remove-icon" class

                                            spanElement.addEventListener("click", function () {
                                                // Call a function to remove the parent li element
                                                removeParentLi(listItem);
                                            });

                                            function removeParentLi(element) {
                                                if (element && element.parentNode) {
                                                    element.parentNode.removeChild(element);
                                                }

                                                let id = (element.id).replace("li", "")
                                                const checkedBox = document.getElementById(id)
                                                checkedBox.checked = false;


                                                applyFilter()
                                            }

                                            // Step 5: Create the i element (Font Awesome icon)
                                            var iconElement = document.createElement("i");
                                            iconElement.className = "fas fa-times";

                                            // Step 6: Append the icon element to the span element
                                            spanElement.appendChild(iconElement);

                                            // Step 7: Append the span element to the li element
                                            listItem.appendChild(spanElement)

                                            document.getElementById("filter-list").appendChild(listItem)

                                        })

                                        if (unCheckedElements.length > 0) {


                                            unCheckedElements.forEach((checkbox) => {

                                                const element = document.getElementById("li" + checkbox.id)
                                                if (element) {

                                                    removeFromFilter(element.id)
                                                }
                                            })

                                        }

                                        // Fetching the products by chekcking filter
                                        applyFilter()
                                    }


                                    // For subCategoryFiltering
                                    // Checking all the checked boxes, and putting that in the
                                    // applied filter area if it is not present; 
                                    function updateSubCategoryFilter() {

                                        let subCategorycheckboxes = document.querySelectorAll("input[type='checkbox'].sub-category");
                                        subCategorycheckboxes = Array.from(subCategorycheckboxes)

                                        let checkedElements = [];
                                        let unCheckedElements = []


                                        subCategorycheckboxes.forEach(function (checkbox) {
                                            if (checkbox.checked) {
                                                checkedElements.push(checkbox);
                                            } else {
                                                unCheckedElements.push(checkbox)
                                            }
                                        });

                                        checkedElements.forEach((element) => {

                                            if (elementExistInFilter(element)) {
                                                return
                                            }


                                            const labelElement = document.getElementById("label" + element.id);
                                            const listItem = document.createElement("li")

                                            // Step 2: Set attributes and styles for the li element
                                            listItem.style.margin = "10px";
                                            listItem.style.fontWeight = "bolder";
                                            listItem.style.fontSize = "small";
                                            listItem.classList.add("sub-category-filter")
                                            listItem.id = "li" + element.id;

                                            // Step 3: Add text content to the li element
                                            listItem.textContent = labelElement.textContent;

                                            // Step 3: Create the span element
                                            var spanElement = document.createElement("span");

                                            // Step 4: Set attributes and styles for the span element
                                            spanElement.style.cursor = "pointer";
                                            spanElement.style.color = "#e74c3c";
                                            spanElement.style.margin = "7px";
                                            spanElement.className = "remove-icon"; // Add the "remove-icon" class

                                            spanElement.addEventListener("click", function () {
                                                // Call a function to remove the parent li element
                                                removeParentLi(listItem);
                                            });

                                            function removeParentLi(element) {
                                                if (element && element.parentNode) {
                                                    element.parentNode.removeChild(element);
                                                }

                                                let id = (element.id).replace("li", "")
                                                const checkedBox = document.getElementById(id)
                                                checkedBox.checked = false;

                                                applyFilter()
                                            }


                                            // Step 5: Create the i element (Font Awesome icon)
                                            var iconElement = document.createElement("i");
                                            iconElement.className = "fas fa-times";

                                            // Step 6: Append the icon element to the span element
                                            spanElement.appendChild(iconElement);

                                            // Step 7: Append the span element to the li element
                                            listItem.appendChild(spanElement)

                                            document.getElementById("filter-list").appendChild(listItem)

                                        })

                                        if (unCheckedElements.length > 0) {

                                            unCheckedElements.forEach((checkbox) => {

                                                const element = document.getElementById("li" + checkbox.id)
                                                if (element) {
                                                    removeFromFilter(element.id)
                                                }
                                            })

                                        }

                                        // Fetching the products by chekcking filter
                                        applyFilter()
                                    }

                                    // Update bandMaterialFilter

                                    function updateBandMaterialFilter() {

                                        let bandMaterial = document.querySelectorAll("input[type='checkbox'].band-material");
                                        bandMaterial = Array.from(bandMaterial)

                                        let checkedElements = [];
                                        let unCheckedElements = []


                                        bandMaterial.forEach(function (checkbox) {
                                            if (checkbox.checked) {
                                                checkedElements.push(checkbox);
                                            } else {
                                                unCheckedElements.push(checkbox)
                                            }
                                        });

                                        checkedElements.forEach((element) => {

                                            if (elementExistInFilter(element)) {
                                                return
                                            }


                                            const labelElement = document.getElementById("label" + element.id);
                                            const listItem = document.createElement("li")

                                            // Step 2: Set attributes and styles for the li element
                                            listItem.style.margin = "10px";
                                            listItem.style.fontWeight = "bolder";
                                            listItem.style.fontSize = "small";
                                            listItem.classList.add("band-material-filter")
                                            listItem.id = "li" + element.id;

                                            // Step 3: Add text content to the li element
                                            listItem.textContent = labelElement.textContent;

                                            // Step 3: Create the span element
                                            var spanElement = document.createElement("span");

                                            // Step 4: Set attributes and styles for the span element
                                            spanElement.style.cursor = "pointer";
                                            spanElement.style.color = "#e74c3c";
                                            spanElement.style.margin = "7px";
                                            spanElement.className = "remove-icon"; // Add the "remove-icon" class

                                            spanElement.addEventListener("click", function () {
                                                // Call a function to remove the parent li element
                                                removeParentLi(listItem);
                                            });

                                            function removeParentLi(element) {
                                                if (element && element.parentNode) {
                                                    element.parentNode.removeChild(element);
                                                }

                                                let id = (element.id).replace("li", "")
                                                const checkedBox = document.getElementById(id)
                                                checkedBox.checked = false;

                                                applyFilter()
                                            }

                                            // Step 5: Create the i element (Font Awesome icon)
                                            var iconElement = document.createElement("i");
                                            iconElement.className = "fas fa-times";

                                            // Step 6: Append the icon element to the span element
                                            spanElement.appendChild(iconElement);

                                            // Step 7: Append the span element to the li element
                                            listItem.appendChild(spanElement)

                                            document.getElementById("filter-list").appendChild(listItem)

                                        })

                                        if (unCheckedElements.length > 0) {

                                            unCheckedElements.forEach((checkbox) => {

                                                const element = document.getElementById("li" + checkbox.id)
                                                if (element) {
                                                    removeFromFilter(element.id)
                                                }
                                            })

                                        }

                                        // Fetching the products by chekcking filter
                                        applyFilter()



                                    }


                                    // For updating dialcolor filter
                                    function updateDialColorFilter() {

                                        let bandMaterial = document.querySelectorAll("input[type='checkbox'].dial-color");
                                        bandMaterial = Array.from(bandMaterial)

                                        let checkedElements = [];
                                        let unCheckedElements = []


                                        bandMaterial.forEach(function (checkbox) {
                                            if (checkbox.checked) {
                                                checkedElements.push(checkbox);
                                            } else {
                                                unCheckedElements.push(checkbox)
                                            }
                                        });

                                        checkedElements.forEach((element) => {

                                            if (elementExistInFilter(element)) {
                                                return
                                            }


                                            const labelElement = document.getElementById("label" + element.id);
                                            const listItem = document.createElement("li")

                                            // Step 2: Set attributes and styles for the li element
                                            listItem.style.margin = "10px";
                                            listItem.style.fontWeight = "bolder";
                                            listItem.style.fontSize = "small";
                                            listItem.classList.add("dial-color-filter")
                                            listItem.id = "li" + element.id;

                                            // Step 3: Add text content to the li element
                                            listItem.textContent = labelElement.textContent;

                                            // Step 3: Create the span element
                                            var spanElement = document.createElement("span");

                                            // Step 4: Set attributes and styles for the span element
                                            spanElement.style.cursor = "pointer";
                                            spanElement.style.color = "#e74c3c";
                                            spanElement.style.margin = "7px";
                                            spanElement.className = "remove-icon"; // Add the "remove-icon" class


                                            spanElement.addEventListener("click", function () {
                                                // Call a function to remove the parent li element
                                                removeParentLi(listItem);
                                            });

                                            function removeParentLi(element) {
                                                if (element && element.parentNode) {
                                                    element.parentNode.removeChild(element);
                                                }

                                                let id = (element.id).replace("li", "")
                                                const checkedBox = document.getElementById(id)
                                                checkedBox.checked = false;

                                                applyFilter()
                                            }

                                            // Step 5: Create the i element (Font Awesome icon)
                                            var iconElement = document.createElement("i");
                                            iconElement.className = "fas fa-times";

                                            // Step 6: Append the icon element to the span element
                                            spanElement.appendChild(iconElement);

                                            // Step 7: Append the span element to the li element
                                            listItem.appendChild(spanElement)

                                            document.getElementById("filter-list").appendChild(listItem)

                                        })

                                        if (unCheckedElements.length > 0) {

                                            unCheckedElements.forEach((checkbox) => {

                                                const element = document.getElementById("li" + checkbox.id)
                                                if (element) {
                                                    removeFromFilter(element.id)
                                                }
                                            })

                                        }

                                        // Fetching the products by chekcking filter
                                        applyFilter()

                                    }




                                    // Check whether element already exist in filter
                                    function elementExistInFilter(checkbox) {
                                        const element = document.getElementById("li" + checkbox.id)
                                        if (element) {
                                            return true
                                        } else {
                                            return false
                                        }

                                    }

                                    function removeFromFilter(id) {
                                        const element = document.getElementById(id)
                                        element.remove()
                                    }
                                </script>




                                <script>

                                    // Fetching the products by applying the filter
                                    function applyFilter(page) {

                                        let params = new URLSearchParams()

                                        params.append("page", page)

                                        // Getting main category elements from filter area 
                                        let elements = document.getElementsByClassName("main-category-filter");
                                        elements = Array.from(elements);

                                        elements.forEach((element) => {

                                            params.append('parentCategoryFilters', element.id);
                                        })

                                        // Getting sub category elements from filter area
                                        let subCategoryElements = document.getElementsByClassName("sub-category-filter")
                                        subCategoryElements = Array.from(subCategoryElements)

                                        subCategoryElements.forEach((element) => {
                                            params.append('subCategoryFilters', element.id);
                                        })

                                        // Getting sub category elements from filter area
                                        let priceRangeElements = document.getElementsByClassName("price-filter")
                                        priceRangeElements = Array.from(priceRangeElements)

                                        priceRangeElements.forEach((element) => {
                                            params.append('priceRangeFilters', element.id);
                                        })



                                        // Getting band material elements from filter area
                                        let bandMaterial = document.getElementsByClassName("band-material-filter")
                                        bandMaterial = Array.from(bandMaterial)

                                        bandMaterial.forEach((element) => {
                                            params.append('bandMaterialFilters', element.id);
                                        })

                                        // Getting dial color elements from filter area
                                        let dialColor = document.getElementsByClassName("dial-color-filter")
                                        dialColor = Array.from(dialColor)

                                        dialColor.forEach((element) => {
                                            params.append('dialColorFilters', element.id);
                                        })




                                        fetch('/product/apply-filter?' + params)
                                            .then((res) => {
                                                return res.json()
                                            })
                                            .then((products) => {
                                                updatePage(products.filteredProducts, products.totalPages, products.page)
                                            })

                                    }


                                    function updatePage(products, totalPages, page) {

                                        // Updating how many products match this filter
                                        const filteredItemsQuantity = document.getElementById("filteredItemsQuantity")
                                        filteredItemsQuantity.innerText = products.length


                                        const productContainer = document.getElementById('productContainer');
                                        productContainer.innerHTML = "" // For clearing the previous filter proudcts


                                        products.forEach(product => {
                                            // Create a product item
                                            const productItem = document.createElement('div');
                                            productItem.className = 'col-lg-4 col-md-4 col-12 col-sm-6';

                                            // Set the HTML content for the product item
                                            productItem.innerHTML = `
                <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="/product/view-user/${product._id}">
                                <img class="default-img" src="${product.images[0].url}" alt="">
                                <img class="hover-img" src="${product.images[1].url}" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                           
                            <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('${product._id}')">
                                <i class="fi-rs-heart"></i>
                            </a>
                            
                        </div>
                       
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-category">
                            <a href="shop-grid-right.html">${product.category[0].name}</a>
                        </div>
                        <h2 style="height: 80px;"><a href="shop-product-right.html">${product.name}</a></h2>
                        <div class="rating-result" title="">
                            <span>
                                <span></span>
                            </span>
                        </div>
                        <div class="product-price">
                            <span>&#8377 ${product.price}</span>
                            
                        </div>
                        <div class="product-action-1 show">
                            <a aria-label="Add To Cart" class="action-btn hover-up"  onclick=addToCart('${product._id}')>
                                <i class="fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>
                </div>
            `;

                                            // Append the product item to the container
                                            productContainer.appendChild(productItem);
                                        });


                                        const paginationList = document.getElementById('paginationList');
                                        paginationList.innerHTML = '';

                                        if (totalPages) {
                                            // Iterate over the total number of pages and create pagination items
                                            for (let i = 0; i < totalPages; i++) {
                                                const liElement = document.createElement('li');
                                                liElement.id = `page0${i + 1}`;
                                                liElement.className = 'page-item';
                                                const aElement = document.createElement('a');
                                                aElement.className = 'page-link';
                                                aElement.onclick = function () {
                                                    applyFilter(i + 1);
                                                };
                                                aElement.textContent = `0${i + 1}`;
                                                liElement.appendChild(aElement);
                                                paginationList.appendChild(liElement);
                                            }
                                        }
                                        if (totalPages) {

                                            const pageli = document.getElementById("page0" + page)
                                            pageli.classList.add("active")
                                        }

                                    }

                                </script>

                                <script>
                                    // Adding to wishlist

                                    function addToWishlist(productId) {

                                        let data = {
                                            product: productId
                                        };
                                        data = JSON.stringify(data);


                                        fetch("/wishlist/add", {
                                            method: "PUT",
                                            headers: {
                                                'Content-Type': 'application/json'
                                            },
                                            body: data,
                                        })
                                            .then((res) => {
                                                console.log(res);
                                                if (res.ok) {
                                                    const Toast = Swal.mixin({
                                                        toast: true,
                                                        position: "top-end",
                                                        showConfirmButton: false,
                                                        timer: 1500,
                                                        timerProgressBar: true,
                                                        didOpen: (toast) => {
                                                            toast.onmouseenter = Swal.stopTimer;
                                                            toast.onmouseleave = Swal.resumeTimer;
                                                        }
                                                    });
                                                    Toast.fire({
                                                        icon: "success",
                                                        title: "Success! The item has been saved to your wishlist."
                                                    });
                                                }
                                            })


                                    }

                                    // Adding to cart
                                    function addToCart(productId) {

                                        const data = {
                                            productId,

                                        }
                                        const jsonData = JSON.stringify(data)

                                        fetch("/cart/add", {
                                            method: "POST",
                                            headers: {
                                                'Content-Type': 'application/json'
                                            },
                                            body: jsonData,
                                        })
                                            .then((res) => {
                                                console.log(res);
                                                if (res.ok) {
                                                
                                                    const Toast = Swal.mixin({
                                                        toast: true,
                                                        position: "top-end",
                                                        showConfirmButton: false,
                                                        timer: 1500,
                                                        timerProgressBar: true,
                                                        didOpen: (toast) => {
                                                            toast.onmouseenter = Swal.stopTimer;
                                                            toast.onmouseleave = Swal.resumeTimer;
                                                        }
                                                    });
                                                    Toast.fire({
                                                        icon: "success",
                                                        title: "Success! The item has been saved to your Cart."
                                                    });
                                                }
                                            })


                                    }



                                </script>


                                <!-- Vendor JS-->
                                <script src="/user.assets/js/vendor/modernizr-3.6.0.min.js"></script>
                                <script src="/user.assets/js/vendor/jquery-3.6.0.min.js"></script>
                                <script src="/user.assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
                                <script src="/user.assets/js/vendor/bootstrap.bundle.min.js"></script>
                                <script src="/user.assets/js/plugins/slick.js"></script>
                                <script src="/user.assets/js/plugins/jquery.syotimer.min.js"></script>
                                <script src="/user.assets/js/plugins/wow.js"></script>
                                <script src="/user.assets/js/plugins/jquery-ui.js"></script>
                                <script src="/user.assets/js/plugins/perfect-scrollbar.js"></script>
                                <script src="/user.assets/js/plugins/magnific-popup.js"></script>
                                <script src="/user.assets/js/plugins/select2.min.js"></script>
                                <script src="/user.assets/js/plugins/waypoints.js"></script>
                                <script src="/user.assets/js/plugins/counterup.js"></script>
                                <script src="/user.assets/js/plugins/jquery.countdown.min.js"></script>
                                <script src="/user.assets/js/plugins/images-loaded.js"></script>
                                <script src="/user.assets/js/plugins/isotope.js"></script>
                                <script src="/user.assets/js/plugins/scrollup.js"></script>
                                <script src="/user.assets/js/plugins/jquery.vticker-min.js"></script>
                                <script src="/user.assets/js/plugins/jquery.theia.sticky.js"></script>
                                <script src="/user.assets/js/plugins/jquery.elevatezoom.js"></script>
                                <!-- Template  JS -->
                                <script src="/user.assets/js/main.js?v=3.4"></script>
                                <script src="/user.assets/js/shop.js?v=3.4"></script>
                                <!--Sweet alert -->
                                <script
                                    src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

    </body>

    </html>