<%- include ('./layouts/head.ejs') %>

    <body>
        <!-- Quick view -->
        <%- include ('./partials/user.header.ejs') %>


            <main class="main">
                <section class="home-slider position-relative pt-25 pb-20">
                    <img style="width: 1500px" src="/user.assets/imgs/banner/welcomepage-img.jpg" alt="">

                </section>
                <section class="featured section-padding">

                </section>
                <section class="product-tabs section-padding wow fadeIn animated">
                    <div class="container">
                        <div class="tab-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <!-- <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                        </li> -->
                                <!-- <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                        </li> -->
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab"
                                        data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three"
                                        aria-selected="false">Newly
                                        added</button>
                                </li>
                            </ul>
                            <a href="#" class="view-more d-none d-md-flex">View More<i
                                    class="fi-rs-angle-double-small-right"></i></a>
                        </div>
                        <!--End nav-tabs-->
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                aria-labelledby="tab-one">
                                <div class="row product-grid-4">
                                    <% if(typeof(newProducts!=="undefined" )) {%>
                                        <%newProducts.forEach((product)=> { %>

                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="/product/view-user/<%=product._id%>">
                                                                <img class="default-img"
                                                                    src="<%=product.images[0].url%>" alt="">
                                                                <img class="hover-img" src="<%=product.images[1].url%>"
                                                                    alt="">
                                                            </a>
                                                        </div>
                                                        <div class="product-action-1">

                                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                                onclick="addToWishlist('<%=product._id %>')"><i
                                                                    class="fi-rs-heart"></i></a>

                                                        </div>
                                                        <!-- <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div> -->
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a href="shop-grid-right.html">
                                                                <%=product.category[0].name%>
                                                            </a>
                                                        </div>
                                                        <h2 style="height: 80px;"><a href="shop-product-right.html">
                                                                <%=product.name%>
                                                            </a></h2>
                                                        <div class="rating-result" title="90%">
                                                            <span>

                                                            </span>
                                                        </div>
                                                        <%if(product.discountAmount> 0) {%>
                                                            <div class="product-price">
                                                                <span>&#8377 <%=product.newPrice%></span>
                                                                <span class="old-price">
                                                                    <%=product.price%>
                                                                </span>
                                                            </div>


                                                            <%} else {%>
                                                                <div class="product-price">
                                                                    <span>&#8377 <%=product.price%></span>
                                                                </div>

                                                                <% }%>
                                                                    <div class="product-action-1 show">
                                                                        <a aria-label="Add To Cart"
                                                                            class="action-btn hover-up"
                                                                            onclick="addToCart('<%=product._id %>')"><i
                                                                                class="fi-rs-shopping-bag-add"></i></a>
                                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}) %>
                                                <%} %>



                                </div>
                                <!--End product-grid-4-->
                            </div>
                            <!--En tab three (New added)-->
                        </div>
                        <!--End tab-content-->
                    </div>
                </section>




                <section class="pt-25 pb-20">
                    <div class="container wow fadeIn animated">
                        <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                        <div class="carausel-6-columns-cover position-relative">
                            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
                                id="carausel-6-columns-2-arrows">
                            </div>
                            <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">

                                <%if(typeof(categories)!== "undefined" ) {%>
                                    <% categories.forEach((category )=> {%>

                                        <div class="product-cart-wrap small hover-up">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/product/view-user?category=<%=category._id %>">
                                                        <img class="default-img" src="<%=category.image%>" alt="">

                                                    </a>
                                                </div>
                                                <div class="product-action-1">

                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">

                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <h2><a href="shop-product-right.html">
                                                        <%=category.name %>
                                                    </a></h2>
                                                <!-- <div class="rating-result" title="90%">
                                            <span>
                                            </span>
                                        </div> -->
                                                <div class="product-price">
                                                    <!-- <span>$238.85 </span>
                                            <span class="old-price">$245.8</span> -->
                                                </div>
                                            </div>
                                        </div>


                                        <%}) %>
                                            <%} %>

                                                <!-- End product-cart-wrap-2 -->

                                                <!-- End product-cart-wrap-2 -->
                            </div>
                        </div>
                    </div>
                </section>



                </section>

            </main>


            <!--footer partial-->
            <%- include ('./partials/user.footer.ejs') %>


                <script>
                    // For adding to wishlist
                    function addToWishlist(productId) {

                        console.log(productId);
                        let data = {
                            product: productId
                        };
                        data = JSON.stringify(data);


                        console.log(data);
                        fetch("/wishlist/add", {
                            method: "PUT",
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: data,
                        })
                            .then((res) => {
                                if (res.ok) {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: "top-end",
                                        showConfirmButton: false,
                                        timer: 1500,
                                        timerProgressBar: true,
                                        didOpen: (toast) => {
                                            toast.onmouseenter = Swal.stopTimer;
                                            toast.onmouseleave = Swal.resumeTimer;
                                        }
                                    });
                                    Toast.fire({
                                        icon: "success",
                                        title: "Success! The item has been saved to your wishlist."
                                    });
                                }
                            })


                    }

                    function addToCart(productId) {

                        const data = {
                            productId,

                        }
                        const jsonData = JSON.stringify(data)

                        fetch("/cart/add", {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: jsonData,
                        })
                            .then((res) => {
                                if (res.ok) {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: "top-end",
                                        showConfirmButton: false,
                                        timer: 1500,
                                        timerProgressBar: true,
                                        didOpen: (toast) => {
                                            toast.onmouseenter = Swal.stopTimer;
                                            toast.onmouseleave = Swal.resumeTimer;
                                        }
                                    });
                                    Toast.fire({
                                        icon: "success",
                                        title: "Success! The item has been saved to your Cart."
                                    });
                                }
                            })


                    }







                </script>

                <!-- Vendor JS-->
                <script src="/user.assets/js/vendor/modernizr-3.6.0.min.js"></script>
                <script src="/user.assets/js/vendor/jquery-3.6.0.min.js"></script>
                <script src="/user.assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
                <script src="/user.assets/js/vendor/bootstrap.bundle.min.js"></script>
                <script src="/user.assets/js/plugins/slick.js"></script>
                <script src="/user.assets/js/plugins/jquery.syotimer.min.js"></script>
                <script src="/user.assets/js/plugins/wow.js"></script>
                <script src="/user.assets/js/plugins/jquery-ui.js"></script>
                <script src="/user.assets/js/plugins/perfect-scrollbar.js"></script>
                <script src="/user.assets/js/plugins/magnific-popup.js"></script>
                <script src="/user.assets/js/plugins/select2.min.js"></script>
                <script src="/user.assets/js/plugins/waypoints.js"></script>
                <script src="/user.assets/js/plugins/counterup.js"></script>
                <script src="/user.assets/js/plugins/jquery.countdown.min.js"></script>
                <script src="/user.assets/js/plugins/images-loaded.js"></script>
                <script src="/user.assets/js/plugins/isotope.js"></script>
                <script src="/user.assets/js/plugins/scrollup.js"></script>
                <script src="/user.assets/js/plugins/jquery.vticker-min.js"></script>
                <script src="/user.assets/js/plugins/jquery.theia.sticky.js"></script>
                <script src="/user.assets/js/plugins/jquery.elevatezoom.js"></script>
                <!-- Template  JS -->
                <script src="/user.assets/js/main.js?v=3.4"></script>
                <script src="/user.assets/js/shop.js?v=3.4"></script>

                <!--Sweet alert -->
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    </body>

    </html>